<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h1 class="title">Payroll Management Software!</h1>
                            <p>
                                Keeps a detailed record of the employees' personal details, grade pay details, total working days, and assists in managing salary, tax, and deductions and generates PF/ESIC summary report. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>

<div class="home2-second-bg">

    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Payroll Management Software!</h2>
                        <!-- <p>A fully functional Payroll Management System is integrated into the software to ease the burden on HR department. The payroll module is fully compliant with the rules as laid down by Law. Various calculation parameters and the allowances are also configurable as per the user requirements.</p>-->
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">A fully functional <b class="blue-txt">Payroll Management System</b> is integrated into the software to ease the burden on HR department. The payroll module is fully compliant with the rules as laid down by Law. Various calculation parameters and the allowances are also configurable as per the user requirements.</p>
                                <p class="text-justify">This <b class="blue-txt">Best Payroll Software India</b> is capable of calculating the working days, payable amount, deductions etc. Various reports are also available to assist the management in calculating the expenses on salary as well as reports needed for departmental processes like PF forms/Challans etc.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <img alt="Best Online Payroll Management System Software - A.T.S.I." title="Best Online Payroll Management System Software - A.T.S.I." src="assets/images/payroll/hr-payroll.png" class="width-full" />
                        </div>
                        <div class="col-xs-12 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                                <h2 class="title">Benefits</h2>
                            </div>
                            <p class="text-justify">The module known as <b class="blue-txt">Payroll Processing Software</b> allows the user to store academic and non-academic staff info such as personal details, pay band details, grade pay details, Date of appointment/confirmation/retirement, PAN, PF A/c No. Every month Salary Calculation sheet can be generated. You can generate various reports like List of employees, PF/ESIC summary report, Form 16, Loan register etc. To ensure consistency in storing of standard data for easy and meaningful viewing, function is provided for the user to define standard code and descriptions and information such as staff grade/job title, additional duties and positions.</p>

                            <p class="text-left">Benefits of <b class="blue-txt">Online Salary Management System</b>:</p>
                            <div class="col-xs-12 featured-details mg-top-120">
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Flexible data entry option that lets you work in a way that makes the most sense for your business.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Robust functionality from basic to the very complex. The unique graphical interface will even guide you through the payroll process in step-by-step mode.</p>
                                <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>      Complete and easy access to information, update payroll information, track trends and generate management reports on demand.</p>
                                <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Unlimited numbers of salaried or hourly employees.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Different versions to suit different client requirements.</p>
                                <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Manage entire attendance of the school staff members with effortlessness and simplicity</p>
                                <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Accuracy: All the calculations are done automatically so will avoid the human errors involved.</p>
                                <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>   Tax tables for any number of taxing entities. Provision of varied forms like Form 16 and Form12AB pre-printed.</p>
                                <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Multiple document interfaces allow concurrent examination of various forms, lists, data and specifications.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Personalized Salary Slip Printing</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>    Built-in calculator</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Salary Process and Income tax deduction in Payroll </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>