<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Inventory Management</h2>
                            <p>ERP Student Information Software - A.T.S.I is an ERP enabled educational solution that has been designed and developed by XIPHIAS Software Technology (p) Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>

<div class="home2-second-bg">
    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Stock Management Software</h2>
                        <p>In any school its too hard to maintain library since they have students from 1st standard up to the graduation or post graduation.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify"> The stock management software has been designed to help the administration department take count of the inventory in a more refined manner. The stock management software records all transactions when they are procured, sold or are stored in the inventory. For large institutions, keeping manual entries for every item procured or sold is a tedious task, thus the stock management software helps in automating this process. The store management software can also be used to manage and locate objects or materials. The RFID tagging and cataloguing of the stock helps the stock management software to automatically identify and record the object in the system.</p>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 padding-top-5 margin-bottom-20 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/module/stock-management.png" class="width-full" />
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Store Inventory Management</h2>
                        <p>Managing library is very risky and tough whether the library belongs schools, college or general library, but ATSI made library management is easy by its library management software.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">An institution always needs a record of the items it has lying in inventory on order to not spend excess money in procuring the same. The Store inventory management software has been particularly designed to offer updated stock records to the administration department. The primary function of the store inventory management software is to record every item that has been procured, sold or stocked in the inventory and keep an updated track for audit purposes. The store inventory management software uses RFID or bar coding to manage and locate the items that have been recorded. An efficient store inventory management system is highly cost effective and gives a real-time picture of the stock. The store inventory management also helps in analyzing the stock spent and re-ordering the required products.</p>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/module/store-inventory.svg" class="width-full"/>
                        </div>
                    </div>
                </div>         
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Stock Control Software</h2>
                        <p>The library software is used in schools for management of books, magazines and journals. The library software has been designed to make it simpler to manage and consolidate libraries, saving manual labor and time. </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">For efficient utilization of funds, it is important for the institution to track its inventory and demand. This job is done by the stock control software. With the growing number of students, the stock control software helps in bringing more speed and automation to the process. The stock control software records all activities starting from procurement of the stock, to sales made and the stock in inventory. Since stock management is directly proportional to accounts and finance, it is essential to use stock control software that maintains a record of the inventory. The stock control software notifies the user if an item is running low in stock or is unavailable, in the same manner it also alerts the user if a particular item has not moved from inventory at all and can result in high maintenance or costs.</p>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/module/inventory-management.png" class="width-75" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>