
<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-12">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <!--<h2 class="title">About ATSI</h2>
                            <p class="text-center margin-bottom-0">Cloud based Education ERP Software for:</p>
                            <div class="col-sm-6">
                                <p class="primary-txt wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s">Primary Education</p>
                                <p class="primary-txt wow  fadeInLeft animated" data-wow-duration="2.5s" data-wow-delay=".5s">Higher Education</p>
                                <p class="primary-txt wow  fadeInLeft animated" data-wow-duration="3.5s" data-wow-delay=".5s">Technical/Non-Technical </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="primary-txt wow  fadeInRight animated" data-wow-duration="1.5s" data-wow-delay=".5s">Post Graduate</p>
                                <p class="primary-txt wow  fadeInRight animated" data-wow-duration="2.5s" data-wow-delay=".5s">Autonomous</p>
                                <p class="primary-txt wow  fadeInRight animated" data-wow-duration="3.5s" data-wow-delay=".5s">University</p>
                            </div>-->

                            <div class="col-md-8 col-md-offset-2">
                                <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                                    <h2 class="title">About ATSI</h2>
                                    <p>Cloud based Education ERP Software</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-2 wow fadeInLeft  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                                <img src="assets/images/about/1.png" />
                            </div>
                            <div class="col-md-2 wow fadeInLeft  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                                <img src="assets/images/about/2.png" />
                            </div>
                            <div class="col-md-2 wow fadeInLeft  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                                <img src="assets/images/about/3.png" />
                            </div>
                            <div class="col-md-2 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                                <img src="assets/images/about/4.png" />
                            </div>
                            <div class="col-md-2 wow fadeInRight  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                                <img src="assets/images/about/5.png" />
                            </div>
                            <div class="col-md-2 wow fadeInRight  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                                <img src="assets/images/about/6.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block">

                <div class="mock-carousel-left">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="assets/images/about/2.jpg" />
                        </div>
                        <div class="item">
                            <img src="assets/images/about/3.jpg" />
                        </div>
                        <div class="item">
                            <img src="assets/images/about/4.jpg" />
                        </div>
                        <!--<div class="item">
                            <img src="assets/images/about/5.jpg" />
                        </div>-->
                    </div>
                </div>


                <div class="mock-video text-center">
                    <!--<iframe width="275" height="210" src="https://www.youtube.com/embed/38ZZS0WC82Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
                     <!--<div class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="assets/images/about/2.jpg" />
                        </div>
                        <div class="item">
                            <img src="assets/images/about/3.jpg" />
                        </div>
                        <div class="item">
                            <img src="assets/images/about/4.jpg" />
                        </div>
                        <div class="item">
                            <img src="assets/images/about/5.jpg" />
                        </div>
                    </div>-->
                </div>

                <div class="mock-carousel-right">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="assets/images/about/2.jpg" />
                        </div>
                        <div class="item">
                            <img src="assets/images/about/3.jpg" />
                        </div>
                        <div class="item">
                            <img src="assets/images/about/4.jpg" />
                        </div>
                        <div class="item">
                            <img src="assets/images/about/5.jpg" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<div class="bg-third-block">

    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                        <h2 class="title">ATSI: Best Educational ERP software</h2>
                        <p>ERP Student Information Software - A.T.S.I is an ERP enabled educational solution that has been designed and developed by XIPHIAS Software Technology (p) Ltd.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-6 mg-top-40 wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                            <img src="assets/images/about/intro.png" />
                        </div>
                        <div class="col-md-6 mg-top-40 wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">The primary functionality of this web based ERP software solution is to streamline and manage student information efficiently along with automating processes for the stakeholders. The ERP modules have been built on a sophisticated Dot Net environment and incorporate the cloud computing concept with the latest web 2012 SQL server technologies.</p>
                                <p class="text-justify">The A.T.S.I online ERP software has already been implemented in reputed educational institutions of all levels - from multi-branch nursery schools to graded schools and colleges. As a user configurable and dynamic software solution, A.T.S.I helps its users to view and gather detailed and customized information of both administrative and academic nature and is also integrated with SMS and Email option.</p>
                                <p class="text-justify">A.T.S.I. aims to help students, teachers, parents and the school administrative staff to use school data in a more organized and structured manner. It allows users to interact with basic operation and information of their schools seamlessly and also provides access to all relevant reports that have been generated over the years. It has been designed to provide an enhanced interaction between students, teachers, parents and the management and can be accessed over the internet from any location in the world.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <section class="apps-craft-feature-section " id="apps-craft-feature">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <h2 class="title">Benefits of Online School Management Software</h2>
                    <p>Proper functioning of any institution depends upon the effective workflow of each department. ATSI incorporates benefits that helps institutions to manage & perform their work efficiently.</p>
                </div>
            </div>
            <div class="row content-margin-top section-padding">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="apps-craft-feature-img text-center" itemscope="" itemtype="http://schema.org/ImageGallery">
                        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                            <img src="assets/images/about/feature-app-screenshort.png" />
                            <!--<img src="assets/images/software/dashboard.png" />-->
                            <span class="apps-craft-feature-ico icon-1x skrollable skrollable-between" data-bottom="transform:translateX(-103px)" data-top="transform:translateX(-63px);" style="transform: translateX(-95.3918px);">
                                <img src="assets/images/about/Icon-1.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-2x skrollable skrollable-between" data-bottom="transform:translateX(-171px)" data-top="transform:translateX(-131px);" style="transform: translateX(-161.033px);">
                                <img src="assets/images/about/ICON-2.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-3x skrollable skrollable-between" data-bottom="transform:translateX(-153px)" data-top="transform:translateX(-113px);" style="transform: translateX(-140.03px);">
                                <img src="assets/images/about/12.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-4x skrollable skrollable-between" data-bottom="transform:translateX(-176px)" data-top="transform:translateX(-136px);" style="transform: translateX(-158.288px);">
                                <img src="assets/images/about/ICON-5.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-5x skrollable skrollable-between" data-bottom="transform:translateX(-97px)" data-top="transform:translateX(-55px);" style="transform: translateX(-75.0965px);">
                                <img src="assets/images/about/ICON-7.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-6x skrollable skrollable-between" data-bottom="transform:translateY(-130px)" data-top="transform:translateY(-90px);" style="transform: translateY(-113.001px);">
                                <img src="assets/images/about/15.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-7x skrollable skrollable-between" data-bottom="transform:translateY(-134px)" data-top="transform:translateY(-94px);" style="transform: translateY(-117.001px);">
                                <img src="assets/images/about/icon-3.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-8x skrollable skrollable-between" data-bottom="transform:translateY(-160px)" data-top="transform:translateY(-120px);" style="transform: translateY(-143.001px);">
                                <img src="assets/images/about/ICON--9.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-9x skrollable skrollable-between" data-bottom="transform:translateX(-110px)" data-top="transform:translateX(-70px);" style="transform: translateX(-93.4208px);">
                                <img src="assets/images/about/ICON-11.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-10x skrollable skrollable-between" data-bottom="transform:translateY(26px)" data-top="transform:translateY(26px);" style="transform: translateY(26px);">
                                <img src="assets/images/about/13.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-11x skrollable skrollable-between" data-bottom="transform:translateX(74px)" data-top="transform:translateX(34px);" style="transform: translateX(55.3221px);">
                                <img src="assets/images/about/ICon4.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-12x skrollable skrollable-between" data-bottom="transform:translateX(160px)" data-top="transform:translateX(120px);" style="transform: translateX(145.939px);">
                                <img src="assets/images/about/ICON-10.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-13x skrollable skrollable-between" data-bottom="transform:translateX(150px)" data-top="transform:translateX(110px);" style="transform: translateX(130.902px);">
                                <img src="assets/images/about/ICON-6.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-14x skrollable skrollable-between" data-bottom="transform:translateX(80px)" data-top="transform:translateX(40px);" style="transform: translateX(60.063px);">
                                <img src="assets/images/about/15.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-15x skrollable skrollable-between" data-bottom="transform:translateX(120px)" data-top="transform:translateX(80px);" style="transform: translateX(104.596px);">
                                <img src="assets/images/about/13.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-16x skrollable skrollable-between" data-bottom="transform:translateX(-140px)" data-top="transform:translateX(-100px);" style="transform: translateX(-120.399px);">
                                <img src="assets/images/about/18.png" />
                            </span> <!-- .apps-craft-feature-ico END -->
                        </figure>
                    </div> <!-- .apps-craft-feature-img END -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="col-xs-12 padding-top-0" id="benefits">
                        <div class="col-sm-6 col-md-6 wow animated fadeInUp" data-wow-duration="2.5s">
                            <a href="#" class="card  credentialing">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/benefits/multi-campus.png" class="width-44" />
                                </div>
                                <p class="text-center"> Centralized Information <br />Operations</p>
                            </a>
                        </div>
                        <div class="col-sm-6 col-md-6 wow animated fadeInUp" data-wow-duration="2.5s">
                            <a href="#" class="card smart-card">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/benefits/registration.svg" class="width-44" />
                                </div>
                                <p class="text-center"> Automated Registration & Admission <br /></p>
                            </a>

                        </div>
                        <div class="col-sm-6 col-md-6 wow animated fadeInUp" data-wow-duration="2.5s">
                            <a href="#" class="card report">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/benefits/time-table.svg" class="width-44" />
                                </div>
                                <p class="text-center">Automated Time Table Generation <br /> </p>
                            </a>

                        </div>
                        <div class="col-sm-6 col-md-6 wow animated fadeInUp" data-wow-duration="1s">
                            <a href="#" class="card wallet">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/benefits/exam.svg" class="width-44" />
                                </div>
                                <p class="text-center">Automated Examination System</p>
                            </a>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="">
                            <div id="moreBenefits" class="margin-sm"><a href="javascript:void(0)"><i class="fa fa-plus-circle fa-2x plus-icon " aria-hidden="true"></i><div class="">Read More</div></a> </div>
                            <div id="moreBenefitsdetails" class="col-xs-12">
                                <section id="benefits">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 padding-2rem">
                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s">
                                                    <a href="#" class="card  credentialing">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/multi-campus.png" class="width-44" />
                                                        </div>
                                                        <p class="text-center"> Payroll & Fee Collection</p>
                                                    </a>
                                                </div>
                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s">
                                                    <a href="#" class="card smart-card">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/administration.png" class="width-44" />
                                                        </div>
                                                        <p class="text-center"> GPS Tracking of Vehicles</p>
                                                    </a>

                                                </div>
                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s">
                                                    <a href="#" class="card report">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/administration.png" class="width-44" />
                                                        </div>
                                                        <p class="text-center"> Track attendance</p>
                                                    </a>

                                                </div>

                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                                                    <a href="#" class="card wallet">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/4-way.png" class="width-44" />
                                                        </div>
                                                        <p class="text-center">Transaction of books</p>
                                                    </a>

                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                                                    <a href="#" class="card education">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/zero-data.png" class="width-44" />
                                                        </div>
                                                        <p class="text-center"> Staff Salary Generation</p>
                                                    </a>

                                                </div>




                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                                                    <a href="#" class="card web">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/always-safer.svg" class="width-44" />
                                                        </div>
                                                        <p class="text-center">  Online Data Analytics</p>
                                                    </a>

                                                </div>


                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                                                    <a href="#" class="card human-resources">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/anti-exam.svg" class="width-44" />
                                                        </div>
                                                        <p class="text-center">Hostel boarding & lodging</p>
                                                    </a>
                                                </div>
                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                                                    <a href="#" class="card human-resources">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/anti-exam.svg" class="width-44" />
                                                        </div>
                                                        <p class="text-center">High & Fast ROI</p>
                                                    </a>
                                                </div>
                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                                                    <a href="#" class="card human-resources">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/anti-exam.svg" class="width-44" />
                                                        </div>
                                                        <p class="text-center">Communication Management</p>
                                                    </a>
                                                </div>
                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s">
                                                    <a href="#" class="card communication">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/communication.svg" class="width-44" />
                                                        </div>
                                                        <p class="text-center">   Bill and Expense Management</p>
                                                    </a>

                                                </div>
                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                                                    <a href="#" class="card human-resources">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/anti-exam.svg" class="width-44" />
                                                        </div>
                                                        <p class="text-center">Analyze Student Performance</p>
                                                    </a>
                                                </div>
                                                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                                                    <a href="#" class="card human-resources">
                                                        <div class="overlay"></div>
                                                        <div class="circle">
                                                            <img src="assets/images/benefits/anti-exam.svg" class="width-44" />
                                                        </div>
                                                        <p class="text-center"> Secure backup server of Rackspace and IBM</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="clearfix"></div>
    <section class="apps-craft-feature-section " id="apps-craft-feature">
        <div class="container margin-top">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <h2 class="title">Key Features of Education Management Software</h2>
                    <p> From tracking & managing student information to communicating with parents and simplifying day-to-day responsibilities, ATSI features help institutions to shift their focus from files to students.  </p>
                </div>
            </div>
            <div class="row content-margin-top section-padding">


                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="featured-details mg-top-120">
                        <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Robust and interactive school management solution</p>
                        <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Well-planned and efficient school automation software</p>
                        <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  High-quality and hassle-free product</p>
                        <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Designed and built to provide accurate information</p>
                        <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Font, icons and interface developed to give a user-friendly approach</p>
                        <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> 24X7 on-line and telephonic support service</p>
                        <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Mobile App</p>
                        <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Responsive Content Management System based website worth INR 1 lac</p>
                        <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Unlimited SMS & E-mail provision for 1 year</p>
                        <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Online Payment Gateway integration</p>
                        <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>   Licensed Version one time payment</p>
                        <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>One month training - including integration of customized requirements</p>
                        <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Customization of the manual format in the software</p>
                        <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Cloud based data security</p>
                        <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Automatic back-up in world's top 3 data centers</p>
                        <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>We have hosting servers</p>
                        <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> 24X7 Support service with a 29 min response time</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="apps-craft-feature-img text-center" itemscope="" itemtype="http://schema.org/ImageGallery">
                        <figure itemprop="associatedMedia" itemscope="" itemtype="http://schema.org/ImageObject">
                            <img src="assets/images/about/feature-app-screenshort.png" />
                            <!--<img src="assets/images/software/dashboard.png" />-->
                            <span class="apps-craft-feature-ico icon-1x skrollable skrollable-between" data-bottom="transform:translateX(-103px)" data-top="transform:translateX(-63px);" style="transform: translateX(-95.3918px);">
                                <img src="assets/images/about/Icon-1.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-2x skrollable skrollable-between" data-bottom="transform:translateX(-171px)" data-top="transform:translateX(-131px);" style="transform: translateX(-161.033px);">
                                <img src="assets/images/about/ICON-2.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-3x skrollable skrollable-between" data-bottom="transform:translateX(-153px)" data-top="transform:translateX(-113px);" style="transform: translateX(-140.03px);">
                                <img src="assets/images/about/12.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-4x skrollable skrollable-between" data-bottom="transform:translateX(-176px)" data-top="transform:translateX(-136px);" style="transform: translateX(-158.288px);">
                                <img src="assets/images/about/ICON-5.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-5x skrollable skrollable-between" data-bottom="transform:translateX(-97px)" data-top="transform:translateX(-55px);" style="transform: translateX(-75.0965px);">
                                <img src="assets/images/about/ICON-7.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-6x skrollable skrollable-between" data-bottom="transform:translateY(-130px)" data-top="transform:translateY(-90px);" style="transform: translateY(-113.001px);">
                                <img src="assets/images/about/15.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-7x skrollable skrollable-between" data-bottom="transform:translateY(-134px)" data-top="transform:translateY(-94px);" style="transform: translateY(-117.001px);">
                                <img src="assets/images/about/icon-3.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-8x skrollable skrollable-between" data-bottom="transform:translateY(-160px)" data-top="transform:translateY(-120px);" style="transform: translateY(-143.001px);">
                                <img src="assets/images/about/ICON--9.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-9x skrollable skrollable-between" data-bottom="transform:translateX(-110px)" data-top="transform:translateX(-70px);" style="transform: translateX(-93.4208px);">
                                <img src="assets/images/about/ICON-11.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-10x skrollable skrollable-between" data-bottom="transform:translateY(26px)" data-top="transform:translateY(26px);" style="transform: translateY(26px);">
                                <img src="assets/images/about/13.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-11x skrollable skrollable-between" data-bottom="transform:translateX(74px)" data-top="transform:translateX(34px);" style="transform: translateX(55.3221px);">
                                <img src="assets/images/about/ICon4.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-12x skrollable skrollable-between" data-bottom="transform:translateX(160px)" data-top="transform:translateX(120px);" style="transform: translateX(145.939px);">
                                <img src="assets/images/about/ICON-10.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-13x skrollable skrollable-between" data-bottom="transform:translateX(150px)" data-top="transform:translateX(110px);" style="transform: translateX(130.902px);">
                                <img src="assets/images/about/ICON-6.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-14x skrollable skrollable-between" data-bottom="transform:translateX(80px)" data-top="transform:translateX(40px);" style="transform: translateX(60.063px);">
                                <img src="assets/images/about/15.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-15x skrollable skrollable-between" data-bottom="transform:translateX(120px)" data-top="transform:translateX(80px);" style="transform: translateX(104.596px);">
                                <img src="assets/images/about/13.png" />
                            </span> <!-- .apps-craft-feature-ico END -->

                            <span class="apps-craft-feature-ico icon-16x skrollable skrollable-between" data-bottom="transform:translateX(-140px)" data-top="transform:translateX(-100px);" style="transform: translateX(-120.399px);">
                                <img src="assets/images/about/18.png" />
                            </span> <!-- .apps-craft-feature-ico END -->
                        </figure>
                    </div> <!-- .apps-craft-feature-img END -->
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="">
                            <div id="morekeyfeature" class="margin-sm"><a href="javascript:void(0)"><i class="fa fa-plus-circle fa-2x plus-icon " aria-hidden="true"></i><div class="">Read More</div></a> </div>
                            <div id="morekeyfeatureDetails" class="col-xs-12">
                                <div class="container" id="benefits">
                                    <div class="row">
                                        <div class="col-xs-12 padding-2rem">
                                            <div class="featured-details mg-top-120">
                                                <div class="col-md-6 text-left">
                                                    <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Creating & Generating On Demand Reports</p>
                                                    <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Support and Tracking System</p>
                                                    <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Time Table Management System</p>
                                                    <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Class Tracking System</p>
                                                    <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Reports at one click</p>
                                                    <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Online Payment Gateway integration</p>
                                                    <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Ease of evaluation</p>

                                                </div>


                                                <div class="col-md-6 text-left">
                                                    <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> 24x7 on-line and telephonic support service</p>
                                                    <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Multilingual customization</p>
                                                    <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Cost effective solution</p>
                                                    <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Self Training System</p>
                                                    <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Support in Invention and Patent Acting</p>
                                                    <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Alumni Management System</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="clearfix"></div>

    <div class="bg-third-block">
        <div class="testimonial-section pd-bottom-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                            <h2 class="title">Additional Features</h2>
                            <p>To meet the ever-changing demands of educational institutions, ATSI has comprised some additional features and tried to include every possible factor ever needed. </p>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-md-5 col-sm-6 mg-top-40 wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                                <img src="assets/images/about/02.png" />
                            </div>
                            <div class="col-md-6 mg-top-40">
                                <div class="featured-details mg-top-120">
                                    <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Generate countless MIS Reports</p>
                                    <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Security feature - manage Login and Access</p>
                                    <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Streamline flow of Information</p>
                                    <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Improve Decision-Making Capability</p>
                                    <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Keep Parents up-to-date with their ward's progress</p>
                                    <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Available in multi-language</p>
                                    <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Integrated with RFID & Smart Card Technology</p>
                                    <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Aadhar Integrated</p>
                                    <p class="text-justify"> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Integrated with HRMS for Employee Life Cycle Management</p>
                                    <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Centralised Data Repository</p>
                                    <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  E Office (Reduce Papers in Campus Communication)</p>
                                    <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>  Campus Virtual Community</p>
                                    <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Research & Incubation Management</p>
                                    <p><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Automated Training & Placement Services</p>
                                    <p> <span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Document Verification System for Employee and Students</p>
                                    <!--<p>Self Training System</p>
                                    <p>Support in Invention and Patent Acting</p>
                                    <p>Alumni Management System</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>