<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Clients</h2>
                            <p>The expectations we exceed today become the foundation of authentic relationship we build with our Delighted Customers that withstand the test of time.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>




<div class="home2-second-bg">
    <section id="usp-hardware">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Our Clients </h2>
                            <p>Designed to unburden the School Administration from stack of files and teachers from their paper work with automated results that eliminates any scope of error. Simultaneously, it focuses on engaging teachers, students and parents with academics. </p>
                        </div>
                    </div>
                    <div class="cont">
                        <div class="demo-gallery">
                            <ul id="lightgallery">
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/jk2.jpg 375, assets/images/clients/jk2.jpg 480, assets/images/clients/jk2.jpg 800" data-src="assets/images/clients/jk2.jpg"
                                    data-sub-html="<h4>Coniston Calmness</h4><p>Beautiful morning</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/jk2.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/gsa.jpg375, assets/images/clients/gsa.jpg480, assets/images/clients/gsa.jpg800" data-src="assets/images/hardware/hardware-8.jpg"
                                    data-sub-html="<h4>Coniston Calmness</h4><p>Beautiful morning</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/gsa.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/nootan.jpg 375, assets/images/clients/nootan.jpg 480, assets/images/clients/nootan.jpg 800" data-src="assets/images/clients/nootan.jpg"
                                    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/nootan.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/christ.jpg 375, assets/images/clients/christ.jpg 480, assets/images/clients/christ.jpg 800" data-src="assets/images/clients/christ.jpg"
                                    data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/christ.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/global.jpg 375, assets/images/clients/global.jpg 480, assets/images/clients/global.jpg 800" data-src="assets/images/clients/global.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/global.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>

                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/chimaiya.jpg 375, assets/images/clients/chimaiya.jpg 480, assets/images/clients/chimaiya.jpg 800" data-src="assets/images/clients/chimaiya.jpg"
                                    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/chimaiya.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/manan.jpg 375, assets/images/clients/manan.jpg 480, assets/images/clients/manan.jpg 800" data-src="assets/images/clients/manan.jpg"
                                    data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/manan.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/dav.jpg 375, assets/images/clients/dav.jpg 480, assets/images/clients/dav.jpg 800" data-src="assets/images/clients/dav.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/dav.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/jd.jpg 375, assets/images/clients/jd.jpg 480, assets/images/clients/jd.jpg 800" data-src="assets/images/clients/jd.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/jd.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/cgps.jpg 375, assets/images/clients/cgps.jpg 480, assets/images/clients/cgps.jpg 800" data-src="assets/images/clients/cgps.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/cgps.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/dav2.jpg 375, assets/images/clients/dav2.jpg 480, assets/images/clients/dav2.jpg 800" data-src="assets/images/clients/dav2.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/dav2.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/bal.jpg 375, assets/images/clients/bal.jpg 480, assets/images/clients/bal.jpg 800" data-src="assets/images/clients/bal.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/bal.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/birl.jpg 375, assets/images/clients/birl.jpg 480, assets/images/clients/birl.jpg 800" data-src="assets/images/clients/birl.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/birl.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/pawar.jpg 375, assets/images/clients/pawar.jpg 480, assets/images/clients/pawar.jpg 800" data-src="assets/images/clients/pawar.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/pawar.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/sring.jpg 375, assets/images/clients/sring.jpg 480, assets/images/clients/sring.jpg 800" data-src="assets/images/clients/sring.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/sring.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/monfort.jpg 375, assets/images/clients/monfort.jpg 480, assets/images/clients/monfort.jpg 800" data-src="assets/images/clients/monfort.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/monfort.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/Krm.jpg 375, assets/images/clients/Krm.jpg 480, assets/images/clients/Krm.jpg 800" data-src="assets/images/clients/Krm.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/Krm.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/modern.jpg 375, assets/images/clients/modern.jpg 480, assets/images/clients/modern.jpg 800" data-src="assets/images/clients/modern.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/modern.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/venus.jpg 375, assets/images/clients/venus.jpg 480, assets/images/clients/venus.jpg 800" data-src="assets/images/clients/venus.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/venus.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/vip.jpg 375, assets/images/clients/vip.jpg 480, assets/images/clients/vip.jpg 800" data-src="assets/images/clients/vip.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/vip.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/jk.jpg 375, assets/images/clients/jk.jpg 480, assets/images/clients/jk.jpg 800" data-src="assets/images/clients/jk.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/jk.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/ssps.jpg 375, assets/images/clients/ssps.jpg 480, assets/images/clients/ssps.jpg 800" data-src="assets/images/clients/ssps.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/ssps.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/sgvs.jpg 375, assets/images/clients/sgvs.jpg 480, assets/images/clients/sgvs.jpg 800" data-src="assets/images/clients/sgvs.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/sgvs.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/novel.jpg 375, assets/images/clients/novel.jpg 480, assets/images/clients/novel.jpg 800" data-src="assets/images/clients/novel.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/novel.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/ripee.jpg 375, assets/images/clients/ripee.jpg 480, assets/images/clients/ripee.jpg 800" data-src="assets/images/clients/ripee.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/ripee.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/samita.jpg 375, assets/images/clients/samita.jpg 480, assets/images/clients/samita.jpg 800" data-src="assets/images/clients/samita.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/samita.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/clients/lawrence.jpg 375, assets/images/clients/lawrence.jpg 480, assets/images/clients/lawrence.jpg 800" data-src="assets/images/clients/lawrence.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/clients/lawrence.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
