<section class="about hero_section gradiant_2 padding ">
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Why ATSI</h2>
                            <p>ERP Student Information Software - A.T.S.I is an ERP enabled educational solution that has been designed and developed by XIPHIAS Software Technology (p) Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>




<div class="bg-third-block">

    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                        <h2 class="title">ATSI Features</h2>
                        <p>ERP Student Information Software - A.T.S.I is an ERP enabled educational solution that has been designed and developed by XIPHIAS Software Technology (p) Ltd.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 mg-top-40 wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                            <img src="assets/images/why/why.png" />
                        </div>
                        <div class="col-md-6  col-sm-6 mg-top-40 wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">School Management Information - Any institution, big or small, needs to build an organized system that records all information of the students and allows ease of use and access. Some of the most elementary problems faced on a day to day basis are:</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Administrative offices are overloaded with piles of information</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Procedure to gain access to any small data is long and heavily bureaucratic</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Most of the information provided is out of date and inconsistent</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Functionality is scattered throughout different organizational units</p>
                                <p class="text-justify">Student Management System - We at XIPHIAS understand the importance of a centralized database management system and have, after a thorough analysis, designed and developed the A.T.S.I. This Student Information Software has been created to help every institution manage all their data in a flawless and systematic manner. The product ensures to provide quality and result oriented solutions to all your worries</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                        <h2 class="title">HOW A.T.S.I AIMS TO HELP SCHOOLS</h2>
                        <p>XIPHIAS, through its ERP enabled student management product offering, aims to remove and/or reduce </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-6  col-sm-6 mg-top-40 wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <div class="featured-details mg-top-120">
                              
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Poor communication among the different departments and functions in an educational institute</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Disorganized and scattered file management system</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Errors and difficulty faced in generating a Time Table across classes and sections</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Huge amount of manual work - data entry and maintaining registers, analysis of class performance, storing registration and admission documents</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  Difficulties faced in tracking old data</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  Lack of transparency and delayed official processes</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  High and fast Return on Investment(ROI)</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 mg-top-40 wow  fadeInRight animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                            <img src="assets/images/why/screen.png" />
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>