<!-- <section class="about hero_section gradiant_2 padding ">
        <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Why ATSI</h2>
                            <p>ERP Student Information Software - A.T.S.I is an ERP enabled educational solution that has been designed and developed by XIPHIAS Software Technology (p) Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section> -->

<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Why ATSI</h2>
                            <p>ATSI incorporates every feature to meet the requirements of your Institutions!</p>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-md-2 wow fadeInLeft  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="assets/images/why/finance.png" />
                    </div>
                    <div class="col-md-2 wow fadeInLeft  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="assets/images/why/vehicle.png" />
                    </div>
                    <div class="col-md-2 wow fadeInLeft  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="assets/images/why/automated.png" />
                    </div>
                    <div class="col-md-2 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="assets/images/why/award.png" />
                    </div>
                    <div class="col-md-2 wow fadeInRight  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="assets/images/why/online.png" />
                    </div>
                    <div class="col-md-2 wow fadeInRight  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="assets/images/why/safe.png" />
                    </div>

                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>



<div class="bg-third-block">

    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                        <h2 class="title">ATSI Features</h2>
                        <p>ERP Student Information Software - A.T.S.I is an ERP enabled educational solution that has been designed and developed by XIPHIAS Software Technology (p) Ltd.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <!-- <div class="col-md-6 col-sm-6 mg-top-40 wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                            <img src="assets/images/why/why.png" />
                        </div> -->
                        <div class="col-xs-12">
                            <ul class="list-unstyled d-flex flex-wrap justify-content-around m-t-5 m-b-10">
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-right" data-aos-delay="0" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-6 aos-init aos-animate" style="background-image: url(assets/images/why/1.svg)"><div class="btm-txt">Students</div> </li>
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-down-right" data-aos-delay="100" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-4 aos-init aos-animate" style="background-image: url(assets/images/why/2.svg)"><div class="btm-txt">Alumni</div></li>
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-up-right" data-aos-delay="200" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-5 aos-init aos-animate" style="background-image: url(assets/images/why/3.svg)"><div class="btm-txt">Admin</div></li>
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-up" data-aos-delay="300" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-6 aos-init aos-animate" style="background-image: url(assets/images/why/4.svg)"><div class="btm-txt">Teacher</div></li>
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-down-left" data-aos-delay="400" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-4 aos-init aos-animate" style="background-image: url(assets/images/why/5.svg)"><div class="btm-txt">Parents</div></li>
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-up-left" data-aos-delay="500" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-5 aos-init aos-animate" style="background-image: url(assets/images/why/6.svg)"><div class="btm-txt">Institution</div></li>
                                <!-- <li data-aos-easing="ease-in-out-cubic" data-aos="fade-left" data-aos-delay="600" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-6 aos-init aos-animate" style="background-image: url(assets/images/why/7.svg)"></li> -->
                            </ul>
                        </div>
                        <div class="col-md-6  col-sm-6 mg-top-40 wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">School Management Information - Any institution, big or small, needs to build an organized system that records all information of the students and allows ease of use and access. Some of the most elementary problems faced on a day to day basis are:</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Administrative offices are overloaded with piles of information</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Procedure to gain access to any small data is long and heavily bureaucratic</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Most of the information provided is out of date and inconsistent</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Functionality is scattered throughout different organizational units</p>
                                <p class="text-justify">Student Management System - We at XIPHIAS understand the importance of a centralized database management system and have, after a thorough analysis, designed and developed the A.T.S.I. This Student Information Software has been created to help every institution manage all their data in a flawless and systematic manner. The product ensures to provide quality and result oriented solutions to all your worries</p>
                            </div>
                        </div>
                        <div id="" class="col-md-6 text-center  col-sm-6 mg-top-40 wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <img src="assets/images/why/why-atsi.png"  class="width-full" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                        <h2 class="title">HOW A.T.S.I AIMS TO HELP SCHOOLS</h2>
                        <p>XIPHIAS, through its ERP enabled student management product offering, aims to remove and/or reduce </p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">


                        <div class="col-xs-12">
                            <ul class="list-unstyled d-flex flex-wrap justify-content-around m-t-5 m-b-10">
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-right" data-aos-delay="0" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-6 aos-init aos-animate" style="background-image: url(assets/images/why/email.svg)"><div class="btm-txt">Email</div> </li>
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-down-right" data-aos-delay="100" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-4 aos-init aos-animate" style="background-image: url(assets/images/why/analytics.svg)"><div class="btm-txt">Graph</div></li>
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-up-right" data-aos-delay="200" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-5 aos-init aos-animate" style="background-image: url(assets/images/why/fees.svg)"><div class="btm-txt">Fee</div></li>
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-up" data-aos-delay="300" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-6 aos-init aos-animate" style="background-image: url(assets/images/why/library.svg)"><div class="btm-txt">Library</div></li>
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-down-left" data-aos-delay="400" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-4 aos-init aos-animate" style="background-image: url(assets/images/why/test.svg)"><div class="btm-txt">Exam</div></li>
                                <li data-aos-easing="ease-in-out-cubic" data-aos="fade-up-left" data-aos-delay="500" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-5 aos-init aos-animate" style="background-image: url(assets/images/why/trophy.svg)"><div class="btm-txt">Achievement</div></li>
                                <!-- <li data-aos-easing="ease-in-out-cubic" data-aos="fade-left" data-aos-delay="600" class="shadow-box bg-1 rounded-circle icon-xxl image-background contain mt-6 aos-init aos-animate" style="background-image: url(assets/images/why/7.svg)"></li> -->
                            </ul>
                        </div>

                        <div class="col-md-6  col-sm-6 mg-top-40 wow fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <div class="featured-details mg-top-120">

                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Poor communication among the different departments </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Disorganized and scattered file management system</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Errors  in generating a Time Table across classes and sections</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  Difficulties faced in tracking old data</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  Lack of transparency and delayed official processes</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  High and fast Return on Investment(ROI)</p>

                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span> Email & SMS Alerts</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  Highly secure with backup server of Rackspace and IBM</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Huge amount of manual work - data entry and maintaining registers, analysis of class performance, storing registration and admission documents</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Email & SMS Alerts</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Highly secure with backup server of Rackspace and IBM</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Email & SMS Alerts</p>

                                <!--<h4>OTHER SERVICES</h4>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  Email & SMS Alerts</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>   Highly secure with backup server of Rackspace and IBM</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  Mobile enabled</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  Payroll & fee collection</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>  Scalable</p>
                                <p class=""><span><i class="fa fa-check-circle"></i></span>Online data analytics(Test Results/Grading)</p>-->
                            </div>
                        </div>
                        <div id="benefits" class="col-md-6  col-sm-6 mg-top-40 wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <!--<div class="col-sm-6 col-md-6 wow animated fadeInUp" data-wow-duration="1s">
                                <a href="#" class="card education">
                                    <div class="overlay"></div>
                                    <div class="circle">
                                        <img src="assets/images/benefits/zero-data.png" class="width-44" />
                                    </div>
                                    <p class="text-center">Zero Data <br />Redundancy</p>
                                </a>

                            </div>
                            <div class="col-sm-6 col-md-6 wow animated fadeInUp" data-wow-duration="2.5s">
                                <a href="#" class="card communication">
                                    <div class="overlay"></div>
                                    <div class="circle">
                                        <img src="assets/images/benefits/communication.svg" class="width-44" />
                                    </div>
                                    <p class="text-center">Seamless <br />Communication</p>
                                </a>

                            </div>-->

                            <img src="assets/images/why/why.png" class="width-full" />
                         

                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="">
                        <div id="moreBenefits" class="margin-sm"><a href="javascript:void(0)"><i class="fa fa-plus-circle fa-2x plus-icon " aria-hidden="true"></i><div class="">Read More</div></a> </div>
                        <div id="moreBenefitsdetails" class="col-xs-12">
                            <section id="benefits">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12 padding-2rem">
                                            <div class="col-md-6  col-sm-6 mg-top-40 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                                                <div class="featured-details mg-top-120">
                                                    <h4>KEY FEATURES OF ATSI MODEL:</h4>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Complete online access with multiple Log In for Admin/Teachers/Parents/Students </p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Mobile version of the website</p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Responsive Content Management System based website worth INR 1 lac</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Unlimited SMS & E-mail provision for 1 year</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Online Payment Gateway integration</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Licensed Version one time payment</p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Cloud based data security</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Automatic back-up in world's top 3 data centers</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> We have hosting servers</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> 24X7 Support service with a 29 min response time</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Creating & Generating On Demand Reports</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Support and Tracking System</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Time Table Management System</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Class Tracking System</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Reports at one click</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Online Payment Gateway integration</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Ease of evaluation</p>

                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> 24x7 on-line and telephonic support service</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Multilingual customization</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Cost effective solution</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6  col-sm-6 mg-top-40 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInRight;">
                                                <div class="featured-details mg-top-120">
                                                    <h4>ADDITIONAL FEATURES:</h4>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Generate countless MIS reports </p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Security feature - manage login and access</p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Streamline flow of information</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Keeps parents up-to date with their students progress</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Available in multi-language</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span> Integrated with RFID & Smart Card Technology</p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Aadhar Integrated</p>

                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Centralised Data Repository</p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> E-Office (Reduce Papers in Campus Communication)</p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Campus Virtual Community</p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Research & Incubation Management</p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Automated Training & Placement Services</p>
                                                    <p class=""><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Document Verification System for Employee and Students</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span>  Self Training System</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span>  Support in Invention and Patent Acting</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span>  Alumni Management System</p>

                                                    <p class=""><span><i class="fa fa-check-circle"></i></span>  Email & SMS Alerts</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span>  Highly secure with backup server of Rackspace and IBM</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span>  Mobile enabled</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span>  Payroll & fee collection</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span>  Scalable</p>
                                                    <p class=""><span><i class="fa fa-check-circle"></i></span>  Online data analytics(Test Results/Grading)</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="pricing" class="pricing-section-2 default-padding-top">
        <div class="container">
            <div class="row row-eq-rs-height">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                        <h2 class="title">Dashboard Features</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard main dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="pricing-wrap pricing-wrap-1 wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h3 class="pricing-title ">Management</h3>
                        <ul class="list-style-none">
                            <li>Bulk admission facility</li>
                            <li>Online fee payment</li>
                            <li>Timetable</li>
                            <li>Lesson Management(syllabus)</li>
                            <li>Bulk transfer from one class to another class</li>
                            <li>Generating booklets with barcode and grade card.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="pricing-wrap pricing-wrap-2 wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInUp;">
                        <h3 class="pricing-title">Student </h3>
                        <ul class="list-style-none">
                            <li>Students can view grade card and download hall ticket.</li>
                            <li>Students can view the fee details</li>
                            <li>Students can receive the notifications regarding Exam, events etc</li>
                            <li>Students can access details of whole academic year</li>
                            <li>Students can view their schedule timetable.</li>
                            <li>Students can view the Result of the examination or test.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="pricing-wrap pricing-wrap-1 wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1.5s; animation-name: fadeInUp;">
                        <h3 class="pricing-title">Parent </h3>
                        <ul class="list-style-none">
                            <li>Parents can do online fee payment</li>
                            <li>Parents can view the progress of the student i.e. results</li>
                            <li>If parents have more than one child, they can view the children details from student profile to grade card</li>
                            <li>Parents can view the syllabus covered in the class.</li>
                            <li>Parents can view the attendance of the children.</li>
                            <li>Parents have the ability to receive the notifications regarding their student's Exam, events etc</li>
                                                    </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="pricing-wrap pricing-wrap-1 wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1.5s; animation-name: fadeInUp;">
                        <h3 class="pricing-title">Teacher</h3>
                        <ul class="list-style-none">
                            <li>Track Student /Subject</li>
                            <li>Smart App Academics [ Attendance, Internal Marks, Grading and Results]</li>
                            <li>Managing Leaves, Meetings, Payroll</li>
                            <li>Discussion Forum for Students</li>
                            <li>Test, Quiz and Examination Updates on Self-Services.</li>
                            <li>Teachers have the ability to receive the notifications events, meetings, workshops, circular etc</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</div>