<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Notice Board Software!</h2>
                            <p>To keep students, parents, and faculties informed about the recent activities, updates or important announcements, Notice Board Software has been designed that communicates the message.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>

<div class="home2-second-bg">
    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Notice Board Software</h2>
                        <p>In any school its too hard to maintain library since they have students from 1st standard up to the graduation or post graduation.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify"> ATSI is the leading provider of notice board software, Xiphias ATSI provides notice software, digital notice board software, copyright notice software, engineering change notice software.</p>
                                <p class="text-justify">School Notification System services are widely used by higher education institutions to inform students, parents, faculty and other constituencies of important announcements and updates making them the building blocks of the School parent communication.</p>
                                <p class="text-justify">While most individuals think that these services and systems are put in place for emergency uses, the technology is actually more often used for other purposes such as phoning alumni or contacting students during the admission process.</p>

                              </div>
                        </div>
                        <div class="col-md-offset-2 padding-bottom-5 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img alt="Digital Notice Board Software-A.T.S.I" src="assets/images/inner/notice.png"  class="width-full"/>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">Universities and academic institutions interested in improving communications have a choice to make in how they set up their system. They can install a School Notification System Software which provides the service. Generally speaking, outsourcing the service even though is much less expensive and faster to implement however a native application rather than the outsourcing model is beneficial since the School Emergency Notification System is very crucial for emergencies and other confidential /personal announcements.</p>
                                <p class="text-justify">Similarly there are a number of scenarios where there has to be parent teacher interaction which may be regarding the student feedback, performance related discussions, leaves requestion, On the other hand, even though the outside provider already has the infrastructure in place and colleges can install, access and activate it anytime, from any location that has web access.</p>
                              
                            </div>
                        </div>
                        <!--<div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img alt="Digital Notice Board Software-A.T.S.I" src="assets/images/module/erp-software.png" class="width-75" />
                        </div>-->
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>