<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h1 class="title">ERP Software!</h1>
                            <p>
                                ATSI is the one-stop- solution for any type of educational institutions with user-friendly
                                and secure school ERP Software Solution to automate their data management process.
                                ATSI brings admin, teachers, students and parents on the same platform and enhances
                                the communication among them.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>

<div class="home2-second-bg">

    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">ERP SOFTWARE SYSTEMS</h2>
                        <!--<p>ERP software which is also known as Enterprise Resource Planning Software is an integrated system used by organizations to combine, organize and maintain the data necessary for operations.</p>-->
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-left">ERP software which is also known as <b class="blue-txt">Enterprise Resource Planning Software</b> is an integrated system used by organizations to combine, organize and maintain the data necessary for operations. It brings together key operations of the organization into one system. When selected and implemented the <b class="blue-txt">ERP software solutions</b> correctly, it can convert extremely complex and intimidating process into simpler and organized task.</p>
                                <h3 class="title text-left">
                                    Key features of ERP:
                                </h3>
                                <p class="text-left">No business can ignore the benefits of ERP which are listed below:</p>

                                <p><span><i class="fa fa-check-circle padding-right-10"></i>Real-time information generated by reports</span></p>
                                <p> <span><i class="fa fa-check-circle padding-right-10"></i> Lower operational costs</span></p>
                                <p><span><i class="fa fa-check-circle padding-right-10"></i> Defined and streamlined processes</span></p>
                                <p><span><i class="fa fa-check-circle padding-right-10"></i> Enhanced collaboration</span></p>
                                <p><span><i class="fa fa-check-circle padding-right-10"></i> Improved efficiency</span></p>
                                <p> <span><i class="fa fa-check-circle padding-right-10"></i> A common user experience across the group of institutions</span></p>
                                <p>   <span><i class="fa fa-check-circle padding-right-10"></i> Consistent infrastructure</span></p>
                                <p> <span><i class="fa fa-check-circle padding-right-10"></i> Improved data integrity and financial controls</span></p>
                                <p> <span><i class="fa fa-check-circle padding-right-10"></i> Lower management and operational costs</span></p>

                                <p class="text-left">A.T.S.I. is an <b class="blue-txt">Education ERP software</b> that can streamline and synchronize the various separate departments of an institution into one unified software system.</p>
                                <p class="text-left"><a class="blue-txt" href="https://www.atsi.in/">A.T.S.I.</a> is a <b class="blue-txt">School Management ERP Software System</b>, designed and developed by <b class="blue-txt" href="https://www.xiphiastec.com/">XIPHIAS Software Technology Pvt. Ltd</b>. to manage and streamline student information. This is <b class="blue-txt">online Education Management Software</b> including <b class="blue-txt">school and college management ERP Software</b> which has been implemented by many reputed educational institutions to automate their entire system. It helps the users to gather information which are administrative and academic in nature with options of SMS and Email.</p>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img alt="School Management ERP Software India| Cloud Education ERP Software" title="School Management ERP Software India| Cloud Education ERP Software" src="assets/images/module/erp-software.png" class="width-75" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>