<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h1 class="title">Gallery</h1>
                            <p>
                                ATSI incorporates a comprehensive fee module solution to automate and transfer fee
                                processes that drives efficiency with reduced costs. It generates reports on fee paid and
                                dues and send reminders to parents to pay the fees on time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>

<div class="home2-second-bg">
    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h1 class="title">XIPHIAS ATP Launch In Ranchi</h1>
                            <p>
                                XIPHIAS launched the Any Time Payment Kiosk in Ranchi to help consumers deposit their Monthly Revenue Bill via the kiosk
                            </p>
                        </div>
                    </div>

                    <div id="aniimated-thumbnials">
                        <a href="assets/images/gallery/atp-event-01.jpg">
                            <img src="assets/images/gallery/atp-event-01.jpg" class="width-250" />
                        </a>
                        <a href="assets/images/gallery/atp-event-02.jpg">
                            <img src="assets/images/gallery/atp-event-02.jpg" class="width-250" />
                        </a>
                        <a href="assets/images/gallery/atp-event-03.jpg">
                            <img src="assets/images/gallery/atp-event-03.jpg" class="width-250" />
                        </a>
                        <a href="assets/images/gallery/atp-event-04.jpg">
                            <img src="assets/images/gallery/atp-event-04.jpg" class="width-250" />
                        </a>
                        <a href="assets/images/gallery/atp-event-05.jpg">
                            <img src="assets/images/gallery/atp-event-05.jpg" class="width-250" />
                        </a>
                        <a href="assets/images/gallery/atp-event-06.jpg">
                            <img src="assets/images/gallery/atp-event-06.jpg" class="width-250" />
                        </a>
                        <a href="assets/images/gallery/atp-event-07.jpg">
                            <img src="assets/images/gallery/atp-event-07.jpg" class="width-250" />
                        </a>
                        <a href="assets/images/gallery/atp-event-09.jpg">
                            <img src="assets/images/gallery/atp-event-09.jpg" class="width-250" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
