<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Syllabus Module!</h2>
                            <p>ERP Student Information Software - A.T.S.I is an ERP enabled educational solution that has been designed and developed by XIPHIAS Software Technology (p) Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>


<div class="home2-second-bg">

    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Syllabus Module</h2>
                        <p> Syllabus module allows to define various courses that is offered in the Universities/Colleges/Schools.</p>

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-left mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">
                                    Syllabus module allows to define various courses that is offered in the Universities/Colleges/Schools.
                                    While defining the syllabus, institutions can also define course types i.e., year/semester along with its
                                    duration. A.T.S.I. software allows you to define class wise subjects as per the rules and regulations
                                    (Curriculum) of the respective University boards/School boards. You can also manage class wise list of
                                    compulsory and optional subjects.
                                </p>
                                <p class="text-justify"><strong>This feature allows you to:</strong></p>
                                <p>Define the various courses offered in your school.</p>
                                <p>Define course types and duration of course.</p>
                                <p>Define grade system based on the courses being offered.</p>
                                <p>Manage different classes.</p>
                                <p>Define Compulsory and optional subjects for a specific class/ year.</p>
                                <p>Define lab sessions if any.</p>
                                <p>Assign Students to a course.</p>
                                <p>Course Management System</p>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/inner/Syllabus.png" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 padding-top-5">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">
                                    The syllabus management system has been designed for the teachers and the administration to manage
                                    course information over an application. It aims to help the teachers to create new proposals, prepare
                                    the syllabus and define the course structures. The course management system also keeps a track of the
                                    progress of proposals and their implementation until they are approved. It also records the results and
                                    generates charts and data to analyze performance on a monthly or yearly basis. The primary motive of
                                    the course management system is to enhance the experience of the teachers and academic staff in
                                    analyzing performance, discussing the syllabus and structuring the teaching modules.
                                </p>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Syllabus Registration System</h2>
                        <!--<p></p>-->
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">
                                    The syllabus registration system is used by teachers and academic staff in colleges to design and
                                    formulate the course structure for a semester or an entire year. It successfully generates the
                                    combinations of classes and programs for a more structured approach. The course registration system
                                    also helps in recording performance over the year or semester and stores data which can be viewed in
                                    the form of charts or graphs. It is a beneficial tool for the academic staff to generate multiple schedules,
                                    register courses and view the results over a period of time.
                                </p>
                            </div>
                        </div>
                        <!--<div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/module/erp-software.png" class="width-75" />
                        </div>-->
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Online Syllabus Registration System</h2>
                        <!--<p>The library software is used in schools for management of books, magazines and journals. The library software has been designed to make it simpler to manage and consolidate libraries, saving manual labor and time. </p>-->
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">
                                    The online syllabus registration system allows the professors and teachers to generate syllabus online
                                    and maintain records of the same. It helps in creating a one-stop database for all the classes and
                                    program for the ease of access and usage. Most schools and colleges offer various combinations of
                                    subjects and since a large number of students opt for these courses, the online system makes it easier
                                    for the teachers as well as the students to plan their schedule. The online course registration system
                                    aims to make the syllabus defining process more planned and orderly.
                                </p>
                            </div>
                        </div>
                        <!--<div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/module/erp-software.png" class="width-75" />
                        </div>-->
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Syllabus Management System</h2>
                        <!--<p>The library software is used in schools for management of books, magazines and journals. The library software has been designed to make it simpler to manage and consolidate libraries, saving manual labor and time. </p>-->
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">
                                    The syllabus management system has been designed to create a platform for syllabus management and
                                    organization. It gives the academic staff the options to define and schedule classes and subject modules

                                    in a more structured format that helps the students to choose a variety of course combinations. Also, it
                                    records class progress for every module and generates chart or graph based analysis. The stored data is
                                    used to monitor the various modules and their popularity over the years which also helps the school and
                                    college allocate time more wisely. The syllabus management system makes it easier for schools and
                                    colleges to better manage their classroom schedules and course offerings.
                                </p>
                            </div>
                        </div>
                        <!--<div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/module/erp-software.png" class="width-75" />
                        </div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>