<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Testimonials</h2>
                            <p>Don't Just Take Our Word For It.Hear What Our Customers Say </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>


<div class="home2-second-bg">
    <div id="blog" class="blog-section default-padding">
        <div class="container">
            <div class="row row-eq-rs-height">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                        <h2 class="title">Latest Testimonials</h2>
                        <p>With our clients across the nation, ATSI has become a must-have Education ERP Software Solution to manage and streamline their student information. Check out directly from our clients what they think of our services.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-details wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <!--<img alt="blog" src="assets/images/testimonial/01.png">-->
                        <div class="blog-info">
                            <h4>Sharad Pawar</h4>
                            <span class="blog-author"><i class="fa fa-user"></i>Admin</span>
                            <span class="date"><i class="fa fa-calendar"></i>25 January</span>
                            <span class="date"><i class="fa fa-tags"></i>App, Creative</span>
                            <p>Finally a school management system that services every aspect of school life tracking every potential enrolment to the final bequest! ATSI has captured "technology" , " accountability" " best practice" scalability and flexibility to provide a real time, easy to use and personalized school management package which is a web based erp solution on cloud computing . The system and backup support provided rated top shelf by this College. Congratulations!</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-details wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1s; animation-name: fadeInUp;">
                        <!-- <img alt="blog" src="assets/images/testimonial/02.png">-->
                        <div class="blog-info">
                            <h4>Smita Patil</h4>
                            <span class="blog-author"><i class="fa fa-user"></i>Admin</span>
                            <span class="date"><i class="fa fa-calendar"></i>25 January</span>
                            <span class="date"><i class="fa fa-tags"></i>App, Creative</span>
                            <p>I don't know how any school could run efficiently without ATSI. With the flexibility of ATSI, and the professionalism of everyone at XIPHIAS , we were able to build a super database that not only serves the students and parents, but also the school management and teachers."It is the easiest process. There is no paperwork. You have one sheet of paper</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-details mg-bt-0 wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1.5s; animation-name: fadeInUp;">
                        <!-- <img alt="blog" src="assets/images/testimonial/03.png">-->
                        <div class="blog-info">
                            <h4>Chinmaya Swami</h4>
                            <span class="blog-author"><i class="fa fa-user"></i>Admin</span>
                            <span class="date"><i class="fa fa-calendar"></i>25 January</span>
                            <span class="date"><i class="fa fa-tags"></i>App, Creative</span>
                            <p>Parents think it is much easier , they get through the line their schedules are done, they get to speak with a counselor … and at the end they've got it all done and they can come to school the first day and just start.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 col-sm-6 padding-top-5">
                    <div class="blog-details mg-bt-0 wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1.5s; animation-name: fadeInUp;">
                        <!-- <img alt="blog" src="assets/images/testimonial/03.png">-->
                        <div class="blog-info">
                            <h4>Tapi Vally</h4>
                            <span class="blog-author"><i class="fa fa-user"></i>Admin</span>
                            <span class="date"><i class="fa fa-calendar"></i>25 January</span>
                            <span class="date"><i class="fa fa-tags"></i>App, Creative</span>
                            <p>I've been using the ATSI Software for six years now. In my experience, ATSI is very complete and user-friendly software. It has helped me considerably to keep track of many details of the middle and high school. Without ATSI my work would be very hard and inaccurate." Parents and students have been very pleased with the process, they like the case of the use with the system: the fact that they were also of prepay for their item was a very, very exciting selling point for them and overall they are just thrilled with the process.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-details mg-bt-0 wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1.5s; animation-name: fadeInUp;">
                        <!-- <img alt="blog" src="assets/images/testimonial/03.png">-->
                        <div class="blog-info">
                            <h4>Guru Datta</h4>
                            <span class="blog-author"><i class="fa fa-user"></i>Admin</span>
                            <span class="date"><i class="fa fa-calendar"></i>25 January</span>
                            <span class="date"><i class="fa fa-tags"></i>App, Creative</span>
                            <p>Thank you so much for all you help and advice and training, I really appreciate it and it has made the job so much easier. I have had a huge learning curve this year and now things are running so well I can thank ATSI Software and XIPHIAS effort.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="blog-details mg-bt-0 wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.5s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 1.5s; animation-name: fadeInUp;">
                        <!-- <img alt="blog" src="assets/images/testimonial/03.png">-->
                        <div class="blog-info">
                            <h4>D.A.V</h4>
                            <span class="blog-author"><i class="fa fa-user"></i>Admin</span>
                            <span class="date"><i class="fa fa-calendar"></i>25 January</span>
                            <span class="date"><i class="fa fa-tags"></i>App, Creative</span>
                            <p>Simply the best administrative software! In the ever changing world of data in our schools, ATSI makes it easy to train new users, constantly, improves to meet demands, has outstanding support and is the best buy in the market.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>