<header class="header-top-area">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-7 col-xs-12">
              <div class="header-top-left">
                  <ul>
                     
                      <li> <a href="#"> <span class="ti-headphone-alt"></span>ANY TIME STUDENT INFORMATION - A Product of XIPHIAS
                      </a> </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6 col-sm-5 col-xs-12">
              <div class="header-top-right">
                  <ul>
                      <li><a href="#"><span class="ti-comments"></span>Our Certification : ISO / IEC 27001:2005 </a></li>
                      <li class="social pull-right"><a href="#"><i class="fa fa-facebook fb" aria-hidden="true"></i> </a></li>
                      <li class="social pull-right"><a href="#"><i class="fa fa-twitter tw" aria-hidden="true"></i> </a></li>
                      <li class="social pull-right"><a href="#"><i class="fa fa-linkedin ln" aria-hidden="true"></i> </a></li>
      
                  </ul>
              </div>
          </div>
      </div>
  </div>
</header>

<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-static-top navbar-align sticky ">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
              <img src="assets/images/atsi_logo.png" class="width-15rem" />
          </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/home" class="active">Home </a></li>
              <li><a routerLink="/about">About ATSI</a></li>
              <li><a href="#">Why ATSI</a></li>

              <li><a href="#">Packages</a></li>
              <li><a href="#">Installation</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#" class="search-ic" data-toggle="modal" data-target="#myModal"><i class="fa fa-search header-search-icon"></i></a></li>
          </ul>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>