<header class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7 col-xs-12">
                <div class="header-top-left">
                    <ul>

                        <li>
                            <a href="#">
                                <span class="ti-headphone-alt"></span>ANY TIME STUDENT INFORMATION - A Product of XIPHIAS
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-5 col-xs-12">
                <div class="header-top-right">
                    <ul>
                        <li><a href="#"><span class="ti-comments"></span>Our Certification : ISO / IEC 27001:2005 </a></li>
                        <li class="social pull-right"><a href="https://www.facebook.com/XIPHIAS.IN"> <img src="../assets/images/social-icon/facebook.svg" class="width-30"/> </a></li>
                        <li class="social pull-right"><a href="https://twitter.com/XIPHIAS0101"><img src="../assets/images/social-icon/twitter.svg" class="width-30" /></a></li>
                        <li class="social pull-right"><a href="https://www.linkedin.com/company/xiphias-software-technologies-pvt-ltd"><img src="../assets/images/social-icon/linkedin.svg" class="width-30" /></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-static-top navbar-align sticky ">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="assets/images/atsi_logo.png" class="width-15rem" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home </a></li>
                <li><a routerLink="/about" routerLinkActive="active">About ATSI</a></li>
                <li><a routerLink="/whyAtsi" routerLinkActive="active">Why ATSI</a></li>
                <li><a routerLink="/package" routerLinkActive="active">Packages</a></li>
                <li><a routerLink="/clients" routerLinkActive="active">Installation</a></li>
                <li><a routerLink="/testimonials" routerLinkActive="active">Testimonials</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
                <li><a href="https://www.atsi.in/user/login" target="_blank">Login</a></li>
                <li><a href="#" class="search-ic" data-toggle="modal" data-target="#myModal"><i class="fa fa-search header-search-icon"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet (activate)="onActivate($event)"></router-outlet>

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-6 col-md-3">
                    <img src="assets/images/atsi_logo.png" class="footer-logo" />
                    <div class="col-xs-12 padding-0">
                        <h4 class="footer-title">Contact Us</h4>
                        <p class="footer-intro">
                            XIPHIAS Software Technologies Pvt Ltd,<br />
                            8th Floor, B.M.T.C / T.T.M.C Building,<br />
                            6th Block, Koramangala,<br />
                            Bangalore - 560095.<br />
                            +91-80-67601000,+91-80-25625999<br />
                            info@xiphiastec.com<br />
                        </p>
                    </div>
                    <!--<div class="text-left">
                        <a href="#" class="text-default">Read More</a>
                    </div>-->
                </div>
                <div class="col-sm-6 col-md-3 footer-align">
                    <div class="col-xs-12">
                        <h4 class="footer-title">Recent Post</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="media" *ngFor="let data of httpdata.items; let i=index">
                            <div class="media-left">
                                <img src="assets/images/footer/avatar.jpg" class="media-object img-circle" style="width:60px">
                            </div>
                            <div class="media-body" *ngIf="i<2">
                                <h4 class="media-heading media-head-title"><a href="{{data.url}}" target="_blank">{{data.title}}</a></h4>
                                <p>
                                    <span class="blog-author"><i class="fa fa-user padding-right-10"></i>Published</span> <br />
                                    <span class="date"><i class="fa fa-calendar padding-right-10"></i>{{data.published}}</span>

                                </p>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="col-xs-12 footer-align">
                        <h4 class="footer-title">Useful Links</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="text-justify footer-module">
                            <a routerLink="/libraryManagement">Library Management System |</a>
                            <a routerLink="/hrms">Human Resource Management System | </a>
                            <a routerLink="/erpSoftware">ERP Software |</a>
                            <a routerLink="/attendanceManagement">Attendance Management System |</a>
                            <a routerLink="/syllabusManagement">Syllabus Management System |</a>
                            <a routerLink="/empPyroll">Employee Management System |</a>
                            <a routerLink="/payrollManagement">Payroll management System |</a>
                            <a routerLink="/schoolManagement"> School Management System India |</a>
                            <a routerLink="/timetable">Time Table Management System |</a>
                            <a routerLink="/hostelMangement">Hostel Management System |</a>
                            <a routerLink="/feeManagement"> Fee Management System|</a>
                            <a routerLink="/noticeBoard">Notice Board Software |</a>
                            <a routerLink="/bulksms">Bulk SMS System |</a>
                            <a routerLink="/bulkEmail">Bulk Email System |</a>
                            <a routerLink="/onlineExamination">online Examination System |</a>
                            <a routerLink="/inventoryMangement">Inventory Mangement System |</a>
                            <a routerLink="/transport"> Transport Management System |</a>
                            <a routerLink="/accountManagement"> Account Management System |</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-md-3 padding-0">

                    <div class="col-xs-12">
                        <h4 class="footer-title">Newsletter</h4>
                    </div>
                    <div class="col-xs-12">
                        <p class="subscribe-txt">Subscribe our newsletter</p>
                        <form>
                            <div class="form-group">
                                <input type="email" name="email" id="Email" class="form-control text-box-align" placeholder="Enter Your Email Address">
                            </div>
                            <div class="text-left">
                                <button type="button" class="btn btn-default btn-block sub-btn" id="newLetter">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">

                    <div class="col-xs-12">
                        <h4 class="footer-title">Social Links</h4>
                    </div>
                    <div class="col-md-8 col-md-offset-2 padding-0">
                        <div class="col-md-6 margin-bottom-5">
                            <a href="https://www.facebook.com/XIPHIAS.IN">
                                <img src="assets/images/social-icon/facebook.svg" class="width-65" />
                            </a>
                        </div>
                        <div class="col-md-6 margin-bottom-5">
                            <a href="https://plus.google.com/110385311301697313397">
                                <img src="assets/images/social-icon/google-plus.svg" class="width-65" />
                            </a>
                        </div>
                        <div class="col-md-6 margin-bottom-5">
                            <a href="https://www.linkedin.com/company/xiphias-software-technologies-pvt-ltd">
                                <img src="assets/images/social-icon/linkedin.svg" class="width-65" />
                            </a>
                        </div>
                        <div class="col-md-6 margin-bottom-5">
                            <a href="https://twitter.com/XIPHIAS0101">
                                <img src="assets/images/social-icon/twitter.svg" class="width-65" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">

                    <div class="col-xs-12">
                        <h4 class="footer-title">Email Us</h4>
                    </div>
                    <div class="col-xs-12 padding-0">
                        <form>
                            <div class="form-group col-md-6">
                                <input type="text" name="Username" id="Name" class="form-control text-box-align" placeholder="Username">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" name="email" id="Emails" class="form-control text-box-align" placeholder="Email">
                            </div>

                            <div class="form-group col-md-6">
                                <input type="text" name="Mobile" id="Mobile" class="form-control text-box-align" placeholder="Mobile No">
                            </div>
                            <div class="text-left col-md-6">
                                <button type="submit" class="btn btn-default btn-block sub-btn" id="emailUs">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <a routerLink="/terms">Terms and Conditions</a>&nbsp; |  &nbsp;
                        <a routerLink="/returnPolicy">Return Policy</a>&nbsp; | &nbsp;
                        <a routerLink="/privacyPolicy">Privacy Policy</a>&nbsp; | &nbsp;
                        <a routerLink="/disclaimer">Disclaimer</a>&nbsp; | &nbsp;
                        <a routerLink="/sitemap" title="Kiosk Solution Providers">Sitemap</a>&nbsp; | &nbsp;
                        <a routerLink="/blog" title="Kiosk Solution Providers">Blog</a>
                    </div>
                    <div class="pull-right">
                        <div class="copyright">&copy; Copy Right 2018-19 <a href="https://www.xiphiastec.com/" title="Kiosk Solution Providers"> XIPHIAS </a> Software Technologies  </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>