 <header class="header-top-area">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-7 col-xs-12">
              <div class="header-top-left">
                  <ul>
                     
                      <li> <a href="#"> <span class="ti-headphone-alt"></span>ANY TIME STUDENT INFORMATION - A Product of XIPHIAS
                      </a> </li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6 col-sm-5 col-xs-12">
              <div class="header-top-right">
                  <ul>
                      <li><a href="#"><span class="ti-comments"></span>Our Certification : ISO / IEC 27001:2005 </a></li>
                      <li class="social pull-right"><a href="https://www.facebook.com/XIPHIAS.IN"><i class="fa fa-facebook fb" aria-hidden="true"></i> </a></li>
                      <li class="social pull-right"><a href="https://twitter.com/XIPHIAS0101"><i class="fa fa-twitter tw" aria-hidden="true"></i> </a></li>
                      <li class="social pull-right"><a href="https://www.linkedin.com/company/xiphias-software-technologies-pvt-ltd"><i class="fa fa-linkedin ln" aria-hidden="true"></i> </a></li>
      
                  </ul>
              </div>
          </div>
      </div>
  </div>
</header>

<!-- NAVIGATION -->
<nav class="navbar navbar-default navbar-static-top navbar-align sticky ">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
              <img src="assets/images/atsi_logo.png" class="width-15rem" />
          </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home </a></li>
              <li><a routerLink="/about" routerLinkActive="active">About ATSI</a></li>
              <li><a routerLink="/whyAtsi" routerLinkActive="active">Why ATSI</a></li>
              <li><a routerLink="/package" routerLinkActive="active">Packages</a></li>
              <li><a routerLink="/clients" routerLinkActive="active">Installation</a></li>
              <li><a routerLink="/testimonials" routerLinkActive="active">Testimonials</a></li>
              <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
              <li><a href="https://www.atsi.in/user/login" target="_blank">Login</a></li>
              <li><a href="#" class="search-ic" data-toggle="modal" data-target="#myModal"><i class="fa fa-search header-search-icon"></i></a></li>
          </ul>
      </div>
  </div>
</nav>

<router-outlet (activate)="onActivate($event)" ></router-outlet>

<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-6 col-md-3">
                    <img src="assets/images/atsi_logo.png" class="footer-logo" />
                    <div class="text-justify">
                        <p class="footer-intro">XIPHIAS Software Technologies (p) Ltd is one of the leading technology providers in India since 2002, offering a vast portfolio of products and services with innovative offerings in the hardware and software division. We are India's No 1 interactive kiosk application providers, offering our clients a sophisticated range of customized kiosks within industry standards and specifications.</p>
                    </div>
                    <div class="text-left">
                        <a href="#" class="text-default">Read More</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 footer-align">
                    <div class="col-xs-12">
                        <h4 class="footer-title">Recent Post</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/footer/avatar.jpg" class="media-object img-circle" style="width:60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe</h4>
                                <p>Lorem ipsum...</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/footer/avatar.jpg" class="media-object img-circle" style="width:60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe</h4>
                                <p>Lorem ipsum...</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/footer/avatar.jpg" class="media-object img-circle" style="width:60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe</h4>
                                <p>Lorem ipsum...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="col-xs-12 footer-align">
                        <h4 class="footer-title">Email Us</h4>
                    </div>
                    <div class="col-xs-12">
                        <form class="">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="email" class="form-control text-box-align" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="password" class="form-control text-box-align" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>comments</label>
                                <textarea type="text" class="form-control text-box-align" placeholder="comments" rows="2"></textarea>
                            </div>
                            <div class="text-left">
                                <button type="submit" class="btn btn-default btn-block sub-btn ">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="col-xs-12 footer-align">
                        <h4 class="footer-title">Useful Links</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="">
                            <ul class="list list-group">
                                <li class="list-group-item"><a routerLink="/libraryManagement">Library Management System</a></li>
                                <li class="list-group-item"><a routerLink="/erpSoftware">ERP Softwares</a></li>
                                <!--<li class="list-group-item"><a href="#">ERP Software Solution</a></li>-->
                                <li class="list-group-item"><a routerLink="/attendanceManagement">Attendance Management System</a></li>
                                <li class="list-group-item"><a routerLink="/syllabusManagement">Syllabus Management System</a></li>
                                <li class="list-group-item"><a routerLink="/empPyroll">Employee Payroll System</a></li>
                                <li class="list-group-item"><a routerLink="/payrollManagement">Payroll management Software</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-md-3 footer-align ">
                    <div class="col-xs-12 padding-0">
                        <h4 class="footer-title">Contact Us</h4>
                        <p class="footer-intro">
                            XIPHIAS Software Technologies Pvt Ltd,<br />
                            8th Floor, B.M.T.C / T.T.M.C Building,<br />
                            6th Block, Koramangala,<br />
                            Bangalore - 560095.<br />
                            +91-80-25530350,+91-80-41726017<br />
                            info@xiphiastec.com<br />
                            www.atsi.in<br />
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 footer-align">
                    <div class="col-xs-12">
                        <h4 class="footer-title">Newsletter</h4>
                    </div>
                    <div class="col-xs-12">
                        <p>Subscribe our newsletter</p>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control text-box-align" placeholder="Enter Your Email Address">
                            </div>
                            <div class="text-left">
                                <button type="submit" class="btn btn-default btn-block sub-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="col-xs-12 footer-align">
                        <h4 class="footer-title">Social Links</h4>
                    </div>
                    <div class="col-xs-12 padding-0">
                        <div class="col-md-3">
                            <a href="https://www.facebook.com/XIPHIAS.IN">
                                <img src="assets/images/social-icon/fb.png" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://plus.google.com/110385311301697313397">
                                <img src="assets/images/social-icon/gp.PNG" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://www.linkedin.com/company/xiphias-software-technologies-pvt-ltd">
                                <img src="assets/images/social-icon/linked-in.PNG" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://twitter.com/XIPHIAS0101">
                                <img src="assets/images/social-icon/tw.PNG" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="col-xs-12 footer-align">
                        <h4 class="footer-title">Useful Links</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="">
                            <ul class="list list-group">
                                <li class="list-group-item"><a routerLink="/schoolManagement"> School Management System India</a></li>
                                <li class="list-group-item"><a routerLink="/timetable">Time Table Management System</a></li>
                                <li class="list-group-item"><a routerLink="/hostelMangement">Hostel Management Software</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <a routerLink="/terms">Terms and Conditions</a>&nbsp; |  &nbsp;
                        <a routerLink="/returnPolicy">Return Policy</a>&nbsp; | &nbsp;
                        <a routerLink="/privacyPolicy">Privacy Policy</a>&nbsp; | &nbsp;
                        <a routerLink="/disclaimer">Disclaimer</a>&nbsp; | &nbsp;
                        <a routerLink="/sitemap" title="Kiosk Solution Providers">Sitemap</a>
                    </div>
                    <div class="pull-right">
                        <div class="copyright"> &copy; 2017-2018 <a href="https://www.atsi.in/" title="School Software">A.T.S.I</a> Powered by <a href="https://www.xiphiastec.com/" title="Kiosk Solution Providers">::XIPHIAS::</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>