<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Hostel Management Software!</h2>
                            <p>
                                This module talks about accommodation including list of hostels, students opted for
                                hostels, fees collection, room allotments, and more. During admission, it gathering the
                                details of students and furnishes them name of hostel, room no., warden name, and
                                charges for each student.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>

<div class="home2-second-bg">
    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Hostel Management System</h2>
                        <!-- <p class="text-justify">A.T.S.IHostel Management Module allows you to manage all the necessary details of the schools' hostel.</p>-->
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">A.T.S.I. Online examination Software allows you to create exam schedules for a specific year/semester. When you select specific year/semester for defining the exam the schedule, system displays all the subjects along with their laboratory subjects. You can define each subject start and end date along with its maximum and passing marks.</p>
                                <p class="text-justify">Examination Management System also allows you to enter the subject wise marks obtained by each student and based on the exam grading rule system automatically generates the grade for the marks obtained. You can also view the exam results in percentage or grade.</p>
                                <h4> This Feature Allows You to:</h4>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>It allows you to manage all the school hostels efficiently.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>It allows you to manage different students and teachers in different hostels and allocate different rooms to different students.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Keep a documentation of hostel ins and outs and hostel consumables and durables efficiently. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Create Customized Reports for further reference.  </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">This online exam system is very popular among universities abroad and is an important tool for the schools that wish to be incorporated in the list of best schools in the world. Using this technology, Instead of the traditional paper-based written tests; exams are conducted on a computer which eventually helps in saving time and most importantly, paper. Due to the easy availability of computers and internet, this modern method of best examination management software is extensively accepted in almost all academic institutions</p>
                            </div>
                        </div>
                        <!--<div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img alt="Best Student Hostel Management System Software India" src="assets/images/inner/hostel.png"   class="width-75"/>
                        </div>-->
                    </div>
                </div>

                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                        <p class="text-justify">A.T.S.I. abridges the whole exam process and also simplifies the evaluation process. Using this amazing tool, colleges can get rid of long examination formalities such as question paper creation, populating candidate's registration details and further evaluating the answer sheets to send out the outcome. They can customize it to College Examination Management Software to bring efficiency in the complete competitive exam process. Safe and expedient, this online exam software lessens the probability of errors during the evaluation and makes results available in a few clicks.</p>
                        <p class="text-justify">With the help of A.T.S.I. multiple sets of question papers of every subject can be created without putting in much effort and time. These practice tests boost assurance in students and make them comfortable with the typically perceived fearful examination atmosphere and eventually help them to perform well in their actual exams. This Online Examination System is a boon for teachers and school management who spend hours on making question papers, scrutiny of answer sheets, evaluating results and preparing report- cards of thousands of students. Colleges can also carry out weekly or monthly chapter-wise online exams and assess the overall class performance. Teachers who learn to operate A.T.S.I. can teach more efficiently and give special attention to students in their day-to- day learning process.</p>
                        <p class="text-justify">Online examination Software is an economic way to assess and enhance the students' academic performance as they can also take up multiple mock tests prior to appearing for any major competitive exam. This advanced IT tool will give your students an edge over others and facilitates them to appear for any state-level, national-level or even international level competitive exams in distant locations without being physically present at the exam location. This A.T.S.I. can be customized according to the individual school or college needs and ensures effectiveness in the performance of schools as well as their students</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>