<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Attendance Management System</h2>
                            <p>
                               Maintain a quick and accurate record of students and faculties’ attendance with ATSI
                                Attendance Module. It facilitates teachers to mark the attendance day wise, subject wise
                                and class wise and generates the reports of their presence percent.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>


<div class="home2-second-bg">

    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Attendance Management System</h2>
                        <p>
                            This module is available to
                            student dashboard as well from which they can cite the causes of absences. Attendance
                            Management System helps admin in imposing fines for absences/late comings. Based on the
                            attendance per cent of students, they are allowed to sit in examination.
                        </p>

                    </div>
                </div>



                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">
                                    Online Attendance Management System bridges the effective communication between
                                    students, teachers, and parents by keep them notified about their wards’ attendance via Email
                                    or SMS. Even for teachers, marking attendance for each student for each class becomes boring
                                    as well as time consuming task, so School Management software includes this attendance
                                    management system software to perform this task as it saves a lot of time.
                                </p>
                                <p class="text-justify">
                                    Attendance module enables a school to record and monitor student attendance and absence.
                                    In A.T.S.I., you can record student&#39;s attendance in following ways:
                                </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span> Class wise attendance.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>Day wise attendance.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle"></i></span>Subject wise attendance</p>
                            </div>
                        </div>

                        <div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/inner/attendance.svg" class="width-full" />
                        </div>

                        <div class="col-xs-12 padding-top-5 mg-top-40 text-left wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h3>Class wise attendance</h3>
                            <p>
                                If you want to record attendance of the students for each period, then class wise attendance
                                will be suitable for you. Class wise attendance module displays all the periods assigned in day
                                to a selected teacher/professor, as per your school time table definition. Teachers can choose a
                                particular period and mark students present or absent.
                            </p>
                            <h3>Day Wise Attendance</h3>
                            <p>
                                This module allows educational institutions to take day wise attendance. In this case, it can be
                                assumed that student is either present/absent for all lectures/activities of the class room. So,
                                the attendance can be taken at start or end of the day. This also allows you to send student's
                                daily attendance via SMS/Email.
                            </p>
                            <h3>Subject Wise Attendance</h3>
                            <p class="text-justify">
                                Subject wise attendance allows the teachers to mark the attendance for their subjects which
                                can be checked by parents as well. This is an easier way to check the attendance of any subject
                                for any student.
                            </p>
                            <p><strong>This feature allows you to:</strong></p>
                            <p>Manage attendance of the students.</p>
                            <p>Add attendance via subject wise daily attendance or student daily attendance.</p>
                            <p>Mark the student present or absent</p>
                            <p>Manage student daily attendance or a particular school, class and section</p>
                            <p>Generate report of the attendance which can be student daily attendance report or subject wise daily attendance report.</p>
                            <p>Supporting System-Capture,Alerts</p>
                            <p>
                                This module is also known as Employee Attendance Management Software that keeps a
                                record of employees also. ATSI offers best biometric attendance management system, face
                                recognition attendance system, fingerprint based attendance system, and RFID based
                                attendance system and gives flexibility to institutions to choose the suitable system for them.
                            </p>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">ATSI FEATURES - ATTENDANCE MANAGEMENT SYSTEM</h2>
                        <p>ATSI is the leading attendance management system, attendance software, attendance system, time tracking software, student attendance management system, online attendance management system, time attendance software, time and attendance software, time and attendance system, online attendance system, attendance management software, school attendance software, student attendance system providers.</p>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</div>