<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title"> Bulk SMS Software!</h2>
                            <p>Personal communication is often a requisite at institutions to contact parents, teachers, students or even alumni for any significant announcements or updates through message, by choosing the cost effective and time saving method.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>

<div class="home2-second-bg">
    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Bulk SMS  Software</h2>
                        <p>In any school its too hard to maintain library since they have students from 1st standard up to the graduation or post graduation.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify"> ATSI provides time table software, school timetable software, timetable software, time table management system, school timetable generator, college time table software, software for school time table, time table software for college, time table software for school, time table management software, college timetable software, timetable software for college.</p>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 margin-bottom-20 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/inner/bulk-sms.png" class="width-full" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">Schools SMS Management Software is essential for universities and colleges. Today's highly competitive higher education marketplace requires Student Services professionals to focus on retention as much as recruitment. A.T.S.I with integrated SMS text communication is highly effective. Student-cantered retention strategies emphasize student satisfaction through engagement. Student Services Counsellors are leveraging social media and other web-based channels to engage students, however, SMS messaging is often overlooked as a powerful engagement tool higher education with 97% of all students preferring SMS messaging as a primary means of communication.</p>
                                <p class="text-justify">Personal communication often is requisite at schools to contact parents and teachers on any significant announcement or emergencies through call or message, accounting for the cost to the management. particularly for a school of high strength, it's time consuming and costlier. A.T.S.I. Any Time Student Information with communication features inbuilt, SMS can be rolled out in no time-saving cost, time and energy together.</p>

                            </div>
                        </div>
                        <!--<div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/module/erp-software.png" class="width-75" />
                        </div>-->
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">Because the requirement for mobile phone has radically increased in the past year or so, a lot of individuals are accustomed to sending text or SMS messages to their near ones on a regular basis. It is proper that if one will send a single SMS message to only a few individuals, it will not be very hard to do; however, if you are given a task of forwarding a single text message to a group of people, it will be a very cumbersome thing to do, not to mention a very time-consuming one as well.</p>
                                <p class="text-justify">
                                    Due to this particular concern of a lot of people, there is a requirement for Bulk SMS Alerts software for Schools like A.T.S.I application that can help in completing their bulk SMS
                                    messaging task. One specific software that you can look at when it comes to helping you
                                    send a message to a lot of people is SMS XL 1.5; the pre-eminent aspect about this software
                                    is that it can be used by everyone for free as long as he/she has either a computer or mobile
                                    phone.
                                </p>
                                <p class="text-justify"> What this software does is that it gets the numbers of your contacts from your mobile phone, and then it sends your common message to everyone you have chosen to send it to.  The good thing about this A.T.S.I is that it will allow you to engage in bulk SMS messaging  more than once in a single day because on the bulk message will only take a few seconds to    send. Even though you have a huge database of contacts in your mobile phone, the   software will be able to handle all of them exceptionally. This will be the ideal software for  you if you are an avid user of these bulk text messages and also if you are very good with  using Microsoft Excel.</p>
                                <p class="text-justify"> This application will also be helpful for example if you have been allowed to send a very important message to all of your officemates in just a short amount of time. Aside from the fact that you will not feel tired of sending the same message to a lot of persons, you will also  be assured that your message will be sent to the respective recipients without wasting any  precious time.</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>