<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Online Examination System</h2>
                            <p>ERP Student Information Software - A.T.S.I is an ERP enabled educational solution that has been designed and developed by XIPHIAS Software Technology (p) Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>

<div class="home2-second-bg">
    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Online Examination System</h2>
                        <p class="text-justify">In any school its too hard to maintain library since they have students from 1st standard up to the graduation or post graduation.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">A.T.S.I examination module allows you to create exam schedules for a specific year/semester. When you select specific year/semester for defining the exam the schedule, system displays all the subjects along with their laboratory subjects. You can define each subject start and end date along with its maximum and passing marks.</p>
                                <p>This module also allows you to enter the subject wise marks obtained by each student and based on the exam grading rule system automatically generates the grade for the marks obtained. You can also view the exam results in percentage or grade.</p>
                              </div>
                        </div>
                      
                    </div>
                </div>
               
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="featured-details mg-top-120">
                                <h4> This Feature Allows You to:</h4>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Easily manage examination schedule in your school/ college.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Add examination schedules for each semester/ year.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Easily define if examination is Annual exam, board exam, internal or external exam or formative or summative assessment. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Define exam date, Exam start and end time and maximum and pass marks. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Get details of Student wise and Subject wise marks obtained.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Export exam results in excel easily.  </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Send SMS / emails to students / Parents of examination results. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Room allotment system in Examination. </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                        <p class="text-justify">A.T.S.Iabridges the whole exam process and also simplifies the evaluation process. Using this amazing tool, colleges can get rid of long examination formalities such as question paper creation, populating candidate's registration details and further evaluating the answer sheets to send out the outcome. They can customize it to College Examination Management Software to bring efficiency in the complete competitive exam process. Safe and expedient, this online exam manager lessens the probability of errors during the evaluation and makes results available in a few clicks.</p>
                    </div>
                </div>
                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                        <p class="text-justify">With the help of A.T.S.I, multiple sets of question papers of every subject can be created without putting in much effort and time. These practice tests boost assurance in students and make them comfortable with the typically perceived fearful examination atmosphere and eventually help them to perform well in their actual exams. This Examination Management Software is a boon for teachers and school management who spend hours on making question papers, scrutiny of answer sheets, evaluating results and preparing report- cards of thousands of students. Colleges can also carry out weekly or monthly chapter-wise online exams and assess the overall class performance. Teachers who learn to operate A.T.S.Ican teach more efficiently and give special attention to students in their day-to- day learning process.</p>
                    </div>
                </div>
                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                        <p class="text-justify">Online examination management solution is an economic way to assess and enhance the tudents' academic performance as they can also take up multiple mock tests prior to appearing for any major competitive exam. This advanced IT tool will give your students an edge over others and facilitates them to appear for any state-level, national-level or even international level competitive exams in distant locations without being physically present at the exam location. This A.T.S.Ican be customized according to the individual school or college needs and ensures effectiveness in the performance of schools as well as their students.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">A.T.S.I abridges the whole exam process and also simplifies the evaluation process. Using this amazing tool, colleges can get rid of long examination formalities such as question paper creation, populating candidate's registration details and further evaluating the answer sheets to send out the outcome. They can customize it to College Examination Management Software to bring efficiency in the complete competitive exam process. Safe and expedient, this online exam manager lessens the probability of errors during the evaluation and makes results available in a few clicks.</p>
                             </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/module/erp-software.png" class="width-75" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                    </div>
                </div>
            
                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                        <p class="text-justify">With the help of A.T.S.I, multiple sets of question papers of every subject can be created without putting in much effort and time. These practice tests boost assurance in students and make them comfortable with the typically perceived fearful examination atmosphere and eventually help them to perform well in their actual exams. This Examination Management Software is a boon for teachers and school management who spend hours on making question papers, scrutiny of answer sheets, evaluating results and preparing report- cards of thousands of students. Colleges can also carry out weekly or monthly chapter-wise online exams and assess the overall class performance. Teachers who learn to operate A.T.S.Ican teach more efficiently and give special attention to students in their day-to- day learning process.</p>
                    </div>
                </div>
                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                        <p class="text-justify">Online examination management solution is an economic way to assess and enhance the tudents' academic performance as they can also take up multiple mock tests prior to appearing for any major competitive exam. This advanced IT tool will give your students an edge over others and facilitates them to appear for any state-level, national-level or even international level competitive exams in distant locations without being physically present at the exam location. This A.T.S.Ican be customized according to the individual school or college needs and ensures effectiveness in the performance of schools as well as their students.</p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>