<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h1 class="title">School Management Software!</h1>
                            <p>
                                Right from tracking the admission process of students, to their academics, facilitating
                                collaboration, allowing schools to collect fees, conduct examination and distribute grade

                                cards to concerned dashboards, this School Management Software has automated
                                every system.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>

<div class="home2-second-bg">
    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">School Management Software</h2>
                        <!--<p>The employee management system helps to keep a detailed record of all the employees working in the institution.</p>-->
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">  <b class="blue-txt">Online School Management System</b> has enhanced the whole process of education by enhancing the interaction between teachers and students. A.T.S.I. is a <b class="blue-txt">School Information Management System</b> for School that has both software and hardware version and you can opt for the one which suites you. If you are one of the educational institutions who are struggling in maintaining records then <a href="https://www.xiphiastec.com/"><b class="blue-txt">XIPHIAS</b></a> has the solutions for you in making your task easy through this Education Software. The <b class="blue-txt" href="https://www.atsi.in">A.T.S.I.</b> can prove to be blessing to you thus helping you to maintain the records more efficiently.</p>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 padding-top-5 margin-bottom-20 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img alt="Online School Information Management System India" title="Online School Information Management System India" src="assets/images/inner/school.png" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">Schools have become more than a place of study in present days. It has always been the place for complete grooming of a child. Modern technologies have improved the grooming process and communication of schools. A.T.S.I. as a <b class="blue-txt">Student Management Software</b> is one such tool that has eased the way schools contacted parents and students. It is a cost-efficient, practical, convenient and easy mode of communication employed in educational institutions.</p>
                            </div>
                        </div>
                        <!--<div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img alt="Online School Information Management System India " src="assets/images/module/erp-software.png" class="width-75" />
                        </div>-->
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">Having a proper <b class="blue-txt">Student Information Management System</b> is both rewarding and challenging. This business can be demanding and difficult, yet it a very potential resource to have financial stability and security. The capability of this business is still unknown to many. To enhance the functionality of a school business, it employs innovative tools and programs for supervising, administering and managing its services and business as a whole.</p>
                            </div>
                        </div>
                        <!--<div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img alt="Online School Information Management System India " src="assets/images/module/erp-software.png" class="width-75" />
                        </div>-->
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">
                                    For those who are a part of an alumnus or have been responsible for taking the initiative to start alumni, you can recognize the effort it takes to track down the graduates of our former schools, colleges, organizations and universities. It takes a lot of dedication, interest, patience and hard work to keep the group going and involved thoroughly in its activities and progress.
                                </p>
                                <p class="text-justify">Through the <b class="blue-txt">Student Database Management System</b> the alumni data, such as names, telephone numbers, address, biographical details, etc., can be centralized. The data can be accessed through a well-designed front-end that is easy and friendly to utilize and back-end administration tools to administer authorizations and control the front-end content. Members are allowed to broadcast news and host events, upload updates, hold discussions and voice out opinions, answer queries, post photos and videos; all this bring nous of unity and a feeling among members who feel positive participating in the alumnus and become engaged in its activities.</p>
                                <p class="text-justify">With many such benefits at your service A.T.S.I. is the <b class="blue-txt">Best School Management System in India</b> which can identify the best alumni and prospects and effectively manage programs, grants, events and appeals. The obvious benefit with Alumni management system serves as a strategic method to build and manage this network, facilitating alumni engagement and alumni community building. <b class="blue-txt">Alumni Management Software</b> can create value for your alumni community and alma mater by pushing aside all the haphazard uncoordinated efforts to manage alumni data by using alumni management services right away. </p>
                            </div>
                        </div>
                        <!--<div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img alt="Online School Information Management System India " src="assets/images/module/erp-software.png" class="width-75" />
                        </div>-->
                    </div>
                </div>




            </div>
        </div>
    </div>

</div>