<section id="large-header" class="about hero_section gradiant_2 padding" style="height: 662px; outline: none;" data-scroll-id="large-header" tabindex="-1">
    <canvas id="bubble-canvas" width="1366" height="662"></canvas>
    <div class="display-table">
        <div class="table-cell">
            <div class="container">
                <div class="hero_content">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Fee Management System</h2>
                            <p>ERP Student Information Software - A.T.S.I is an ERP enabled educational solution that has been designed and developed by XIPHIAS Software Technology (p) Ltd.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_mockup d-none d-md-block"></div>
        </div>
    </div>
</section>

<div class="home2-second-bg">
    <div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Fee Management System</h2>
                        <p class="text-justify">In any school its too hard to maintain library since they have students from 1st standard up to the graduation or post graduation.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="featured-details mg-top-120">
                                <p class="text-justify">The Fee Module of A.T.S.I is the one of the most automated fee calculation module on hand in the market. Apart from being automated it is, at the same time, flexible enough to accommodate the varying nature of fee payments that most of the educational institutions come across. Fee calculation is done on the basis of Category selected for the student.</p>
                                <p>The module automatically calculates the pending fees, previous fee payment details, deductions and concessions if any applicable to the selected student. In addition to the above, the user is also given the option to allow payment of more than one month/fee-cycle either applicable.</p>
                                <p>User-defined fee structure and category can be maintained. Automated bill generation option enhances the system dependability. Fee Receipt can be accepted by the system with few mouse clicks. At any point of time, user can verify collections made and outstanding with single click.</p>
                                <p>Fee Management is one of the key components in managing Educational institutes, Coaching/Training centers. A.T.S.I allows great many numbers of features when it comes to fee management.</p>
                             </div>
                        </div>
                        <div class="col-md-offset-2 col-md-8 padding-top-5 mg-top-40 text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <img src="assets/images/module/erp-software.png" class="width-75" />
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Fee collection</h2>
                    </div>
                </div>
                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                        <p class="text-justify">In A.T.S.I software, you can effortlessly manage student fee collection and maintain fees related data. You can view school wise total fee collected in selected date range. This module displays total fee collected in particular date range by cash, card, cheque, Bank Transfer etc. You can also export the complete data to an excel file.</p>

                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">                      
                        <div class="col-md-8">
                            <div class="featured-details mg-top-120">
                                <h4> This Feature Allows You to:</h4>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Quickly know your fees collected. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>View Fees collected for a Specific School. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>View Fees collected for a date range or fees collected today.  </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> At a glance get to view the cash, card, cheque, bank transfer, Advance amount or discount provided. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> There are many different reports that A.T.S.I software offers the complete summary of students pending fees and collected amount. Different types of reports that you can generate from A.T.S.I software.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Month wise outstanding fee details. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Daily fee collection particulars.  </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Student wise outstanding fee particulars.  </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Online and Offline Fee collection.  </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Supporting system.  </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Manage Fee</h2>
                    </div>
                   
                </div>
                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                        <p class="text-justify">In A.T.S.I, you can define the type of school fees (example: Tuition, Stationery, Uniform) to be collected from a specific year/semester. This module allows you define fee groups according to your school rules and apply the different fees defined to the students as required. For example, you can build ‘fee group’ as Nursery, Primary etc with fee types as ‘Tuition Fee’, ‘Stationery fee’, ‘Uniform Fee’, ‘Transportation Fee’ etc.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                      
                        <div class="col-md-8 col-md-offset-7">
                            <div class="featured-details mg-top-120">
                                <h4>THIS FEATURE ALLOWS YOU TO:</h4>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Define different Fee groups for transportation Fees, Nursery to UKG Fees, Primary section fees (I to IV). </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Define penalty or late payment fees that get applied daily, weekly etc. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Accept Fee in installments.  </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> At a glance get to view the cash, card, cheque, bank transfer, Advance amount or disc</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Obtain Fees in cash, credit card, NEFT, Cheque.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Swiftly update enhancement in fees. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Apply the different fees defined to the students as necessary  </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Student wise outstanding fee particulars.  </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Online and Offline Fee collection.  </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Supporting system.  </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Receive Fee</h2>
                    </div>
                   
                </div>
                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                        <p class="text-justify">This module by design calculates the pending fee and penalty if any applicable to the selected student based on fee structure assigned. You can accept the fee payments from student/parents from various payment modes such as Cash, Card, Cheque, Bank Transfer etc. You can also collect the fee from multiple payment modes example, cash and card etc. A.T.S.Ialso records all the transactions you made and involuntarily updates the respective accounts and at any given point of time you can view ledgers of the selected account, you can even print the ledger of the selected account.</p>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">

                        <div class="col-md-8 ">
                            <div class="featured-details mg-top-120">
                                <h4>THIS FEATURE ALLOWS YOU TO:</h4>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Print fee receipt in customized formats. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>SMS/Email fee receipt to student/Parent. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>SMS/Email fee receipt to student/Parent. </p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Adjust penalty amounts if any.</p>
                                <p class="text-justify"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span>Give concession if any applicable to the selected student. </p>
                             
                        </div>
                    </div>
                </div>

            </div>
                <div class="col-xs-12 text-center mg-top-40 wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <div class="featured-details mg-top-120">
                        <p class="text-justify"><b>Fees Master :</b> Yearly fee structure with valuable date creation. Fee information repeatedly circulated to Parents</p>
                        <p class="text-justify"><b>Fees Configuration: </b> Multiple Entity bank accounts with multiple type of fees configuration. </p>
                        <p class="text-justify"><b>Fees Collection:</b>Fees Collections for current in addition as next financial year / Collection at each defined… </p>
                        <p class="text-justify"><b>Optional Fees:  </b> Optional and Extra-Curricular activities mapping with students and gathering of fees towards such activities.</p>
                        <p class="text-justify"><b>Transport Fees: </b>Transport fees configuration and its payment collection. Online Payment (Mobile APP / Parent Portal): Online Payment option with payment confirmation with receipt generation. </p>
                      
                     </div>
                </div>
        </div>
    </div>
        </div>
</div>