<div class="home2-first-bg">
    <!-- banner -->
    <div id="home" class="banner banner-2">
        <div class="container width-75">
            <div class="row">
                <div class="col-md-7 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
                    <h1 class="heading">ANY TIME STUDENT INFORMATION <br> A Product of XIPHIAS</h1>
                    <p class="sub-heading">
                        Access through a cloud powered system from any part of the world to automate your institute's administration needs. Supporting Mac OS, Android and Windows
                    </p>
                    <a class="btn btn-white-shadow" href="#">Get Started for Free</a>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs banner-thumb-img">
                    <div class="banner-thumb wow fadeInDown animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="assets/images/banner/6.png" alt="thumnail">
                        <!--<div class="host-element"></div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.banner -->
    <!-- intro -->
    <div class="intro-section text-center">
        <div class="container">
            <div class="row row-eq-rs-height">
                <div class="col-md-4 col-sm-6">
                    <div class="intro-item red wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.5s">
                        <img src="assets/images/intro/payment-method.svg" class="width-66" />
                        <h3 class="title">Cashless & Paperless </h3>
                        <p>To transform India into a digitally empowered society with green environment,all operations across educational institutions are enabled with cashless and paperless solutions. </p>
                        <a href="#">read more</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="intro-item yellow  wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <img src="assets/images/intro/ict.svg" class="width-66" />
                        <h3 class="title">ICT</h3>
                        <p>To harness the potential of technology and propel India forward, ICT is bridging the divide amongst students of various socio, economic and geographical barriers.</p>
                        <a href="#">Read More</a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="intro-item green mg-bt-0 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.0s">
                        <img src="assets/images/intro/impact-factor.svg" class="width-66" />
                        <h3 class="title">Impact Factor</h3>
                        <p>Organize and store the largest set of research papers of scholars into ATSI software that acts as an incubation centre for storing all the important data to help budding researchers. </p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.intro -->

    <section id="benefits">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 padding-2rem">
                    <div class="col-md-12">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Salient Features</h2>
                            <p>14 years of vast experience has entailed a steep learning curve, helped us in developing an understanding of national as well as international education system, which became our basis to develop and design the seamless and one-click ERP enabled School Management Software. XIPHIAS Software Technologies Pvt. Ltd. has carefully crafted Any Time School Information (ATSI), paying attention to all the minute details that your institution will ever need.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s">
                        <a href="#" class="card  credentialing">
                            <div class="overlay"></div>
                            <div class="circle">
                                <img src="assets/images/benefits/multi-campus.png" class="width-44" />
                            </div>
                            <p class="text-center">Multi Campus based <br />Operations</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s">
                        <a href="#" class="card smart-card">
                            <div class="overlay"></div>
                            <div class="circle">
                                <img src="assets/images/benefits/multi-site.svg" class="width-44" />
                            </div>
                            <p class="text-center">Multi Site based <br /> Operations</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s">
                        <a href="#" class="card report">
                            <div class="overlay"></div>
                            <div class="circle">
                                <img src="assets/images/benefits/administration.png" class="width-44" />
                            </div>
                            <p class="text-center">Multiple Administation <br /> Logins</p>
                        </a>

                    </div>

                    <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                        <a href="#" class="card wallet">
                            <div class="overlay"></div>
                            <div class="circle">
                                <img src="assets/images/benefits/4-way.png" class="width-44" />
                            </div>
                            <p class="text-center">4-way Hierarchy  <br />Wise Interaction</p>
                        </a>

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                        <a href="#" class="card education">
                            <div class="overlay"></div>
                            <div class="circle">
                                <img src="assets/images/benefits/zero-data.png" class="width-44" />
                            </div>
                            <p class="text-center">Zero Data <br />Redundancy</p>
                        </a>

                    </div>
                    <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s">
                        <a href="#" class="card communication">
                            <div class="overlay"></div>
                            <div class="circle">
                                <img src="assets/images/benefits/communication.svg" class="width-44" />
                            </div>
                            <p class="text-center">Seamless <br />Communication</p>
                        </a>

                    </div>



                    <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                        <a href="#" class="card web">
                            <div class="overlay"></div>
                            <div class="circle">
                                <img src="assets/images/benefits/always-safer.svg" class="width-44" />
                            </div>
                            <p class="text-center">Safe, Secure and <br /> Scalable</p>
                        </a>

                    </div>

                    <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                        <a href="#" class="card human-resources">
                            <div class="overlay"></div>
                            <div class="circle">
                                <img src="assets/images/benefits/anti-exam.svg" class="width-44" />
                            </div>
                            <p class="text-center">Anti-Malpractice Examination System</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>

<div class="bg-second-block">
    <!-- features-2 -->
    <section id="benefits">
        <div class="container modules">
            <div class="row">
                <div class="col-xs-12 padding-2rem">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">ATSI Modules</h2>
                            <p>ATSI Modules are designed to provide specific functionalities to the Online School Management Software to accomplish the routine tasks of any institution in a categorized way and with great ease. </p>
                        </div>
                    </div>

                    <div class="col-xs-12 owl-carousel owl-carousel-module " id="">

                        <!--<div class="item wow animated fadeInUp" data-wow-duration="2.5s">
                            <a routerLink="/feeManagement" class="card fee">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/fee.svg" class="width-44" />
                                </div>
                                <p class="text-center">Fee Module</p>
                            </a>

                        </div>
                        <div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/onlineExamination" class="card examination">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/examination.svg" class="width-44" />
                                </div>
                                <p class="text-center">Examination Module</p>
                            </a>

                        </div>-->

                        <div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/payrollManagement" class="card payroll">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/payroll.svg" class="width-44" />
                                </div>
                                <p class="text-center">Payroll Module</p>
                            </a>

                        </div>
                        <div class="item wow animated fadeInUp" data-wow-duration="2.5s">
                            <a routerLink="/hrms" class="card hrms">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/hrms.svg" class="width-44" />
                                </div>
                                <p class="text-center">HRMS Module</p>
                            </a>
                        </div>

                        <div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/transport" class="card transport">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/transport.svg" class="width-44" />
                                </div>
                                <p class="text-center">Transport Module</p>
                            </a>

                        </div>

                        <div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/accountManagement" class="card accounting">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/accounting.svg" class="width-44" />
                                </div>
                                <p class="text-center">Account Management</p>
                            </a>
                        </div>

                        <!--<div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/deviceEnable" class="card device-enable">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/device-enable.svg" class="width-44" />
                                </div>
                                <p class="text-center">Device Enable</p>
                            </a>
                        </div>-->
                        <div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/noticeBoard" class="card notice-board">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/notice-board.svg" class="width-44" />
                                </div>
                                <p class="text-center">Notice Board</p>
                            </a>
                        </div>
                        <div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/bulksms" class="card bulk-sms">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/bulk-sms.svg" class="width-44" />
                                </div>
                                <p class="text-center">Bulk SMS </p>
                            </a>
                        </div>
                        <div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/bulkEmail" class="card bulk-email">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/bulk-email.svg" class="width-44" />
                                </div>
                                <p class="text-center">Bulk Emil</p>
                            </a>
                        </div>

                        <div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/libraryManagement" class="card human-resources">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/library.svg" class="width-44" />
                                </div>
                                <p class="text-center">Library Module</p>
                            </a>
                        </div>

                        <div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/inventoryMangement" class="card inventory">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/inventory.svg" class="width-44" />
                                </div>
                                <p class="text-center">Inventory Module</p>
                            </a>
                        </div>
                        <div class="item wow animated fadeInUp" data-wow-duration="1s">
                            <a routerLink="/sportsMangement" class="card sports">
                                <div class="overlay"></div>
                                <div class="circle">
                                    <img src="assets/images/module/sports.svg" class="width-44" />
                                </div>
                                <p class="text-center">Sports Management</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sec-pad" id="screenshots">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">ATSI App</h2>
                        <p class="margin-bottom-0">Flexible Solutions via Touch Screen Technology at your fingertips!</p>
                        <p>Get rid of the problems of log-in and log-out with ATSI app and get access to all the relevant modules as per the role assigned. The notification will help in tracking all the latest activities of the school.</p>
                    </div>
                </div>
                <div class="col-xs-12" id="particles-js">
                    <div class="col-md-6  wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s">
                        <div class="screenshot">
                            <div class="owl-carousel loop nplr screen-loop">
                                <div>
                                    <img alt="" src="assets/images/screenshots/2.png">
                                </div>
                                <div>
                                    <img alt="" src="assets/images/screenshots/3.png">
                                </div>
                                <div>
                                    <img alt="" src="assets/images/screenshots/4.png">
                                </div>
                                <div>
                                    <img alt="" src="assets/images/screenshots/2.png">
                                </div>
                                <div>
                                    <img alt="" src="assets/images/screenshots/3.png">
                                </div>
                                <div>
                                    <img alt="" src="assets/images/screenshots/4.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6  wow  fadeInRight animated" data-wow-duration="1.5s" data-wow-delay=".5s">
                        <div class="about-details">
                            <div class="section-title-3">
                                <h3 class="title">Take a Look Around our App</h3>
                            </div>
                            <p class="">Push Notifications</p>
                            <p>One-to-one Communication</p>
                            <p class="mg-bottom-45">One-to-Group Communication</p>
                            <a class="btn btn-white-shadow" href="#"><img src="assets/images/screenshots/playstore.png" alt="icon">Download Now</a>
                            <a class="btn btn-white-shadow" href="#"><img src="assets/images/screenshots/appstore.png" alt="icon">Download Now</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="featured-section-2 pd-top-100">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Unique Features</h2>
                        <p>For the ease of use while catering best to the needs of Institutions, ATSI has come up with few stand out features to get the best out of Educational ERP Software</p>
                    </div>
                </div>
                <div class="featured-section-2-details">
                    <div class="col-lg-8 col-lg-offset-2  col-md-6 col-md-offset-3">
                        <div class="featured-bg wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s">
                            <img alt="images" src="assets/images/software/dashboard.png">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 left-featured-details">
                        <div class="featured-details-one wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="title">Centralized Data Management</h3>
                                    <p>Manage students' information efficiently through centralized cloud based system.</p>
                                </div>
                                <div class="media-left">
                                    <div class="thumb yellow-glow">
                                        <img src="assets/images/software/icon-yellow.png" alt="icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-details-two wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".5s">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="title">Responsive Dashboard</h3>
                                    <p>Most advanced dashboards will help in accessing the data anytime, anywhere. </p>
                                </div>
                                <div class="media-left">
                                    <div class="thumb green-glow">
                                        <img src="assets/images/software/icon-green.png" alt="icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="featured-details-three wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1s">
                            <div class="media">
                                <div class="media-body">
                                    <h3 class="title">Online Payment Gateway Integration</h3>
                                    <p>Safe and secure online payment gateway that accepts multiple modes of payment</p>
                                </div>
                                <div class="media-left">
                                    <div class="thumb purple-glow">
                                        <img src="assets/images/software/icon-purple.png" alt="icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 right-featured-details">
                        <div class="featured-details-one wow animated fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                            <div class="media">
                                <div class="media-left">
                                    <div class="thumb orange-glow">
                                        <img src="assets/images/software/icon-orange.png" alt="icon">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3 class="title">Unlimited MIS Report Generation</h3>
                                    <p>Track and evaluate the progress of students by generating unlimited MIS Reports.</p>
                                </div>
                            </div>
                        </div>
                        <div class="featured-details-two wow animated fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
                            <div class="media">
                                <div class="media-left">
                                    <div class="thumb teal-glow">
                                        <img src="assets/images/software/icon-teal.png" alt="icon">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3 class="title">Intelligent Analytics</h3>
                                    <p>Compare the progress and performance of students through graphical representation</p>
                                </div>
                            </div>
                        </div>
                        <div class="featured-details-three wow animated fadeInRight" data-wow-duration="1.5s" data-wow-delay="1s">
                            <div class="media">
                                <div class="media-left">
                                    <div class="thumb pink-glow">
                                        <img src="assets/images/software/icon-pink.png" alt="icon">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h3 class="title">Activity Log Details</h3>
                                    <p>Keep a track of all login and logout details of every user along with their activities.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.features-2-->
</div>




<div class="home2-second-bg">
    <section id="usp-hardware">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                            <h2 class="title">Our USP </h2>
                            <p>Designed to unburden the School Administration from stack of files and teachers from their paper work with automated results that eliminates any scope of error. Simultaneously, it focuses on engaging teachers, students and parents with academics. </p>
                        </div>
                    </div>
                    <div class="cont">
                        <div class="demo-gallery">
                            <ul id="lightgallery">
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/hardware-7.jpg 375, assets/images/hardware/hardware-7.jpg 480, assets/images/hardware/hardware-7.jpg 800" data-src="assets/images/hardware/hardware-7.jpg"
                                    data-sub-html="<h4>Coniston Calmness</h4><p>Beautiful morning</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/hardware/hardware-7.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/hardware-8.jpg 375, assets/images/hardware/hardware-8.jpg 480, assets/images/hardware/hardware-8.jpg 800" data-src="assets/images/hardware/hardware-8.jpg"
                                    data-sub-html="<h4>Coniston Calmness</h4><p>Beautiful morning</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/hardware/hardware-8.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/digital-podium.jpg 375, assets/images/hardware/digital-podium.jpg 480, assets/images/hardware/digital-podium.jpg 800" data-src="assets/images/hardware/digital-podium.jpg"
                                    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/hardware/digital-podium.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/digital-signage.jpg 375, assets/images/hardware/digital-signage.jpg 480, assets/images/hardware/digital-signage.jpg 800" data-src="assets/images/hardware/digital-signage.jpg"
                                    data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/hardware/digital-signage.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/kiosk.jpg 375, assets/images/hardware/kiosk.jpg 480, assets/images/hardware/kiosk.jpg 800" data-src="assets/images/hardware/kiosk.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/hardware/kiosk.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>

                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/hardware-4.jpg 375, assets/images/hardware/hardware-4.jpg 480, assets/images/hardware/hardware-4.jpg 800" data-src="assets/images/hardware/hardware-4.jpg"
                                    data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/hardware/hardware-4.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/hardware-5.jpg 375, assets/images/hardware/hardware-5.jpg 480, assets/images/hardware/hardware-5.jpg 800" data-src="assets/images/hardware/hardware-5.jpg"
                                    data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/hardware/hardware-5.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>
                                <li class=" wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/hardware-6.jpg 375, assets/images/hardware/hardware-6.jpg 480, assets/images/hardware/hardware-6.jpg 800" data-src="assets/images/hardware/hardware-6.jpg"
                                    data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                    <a href="">
                                        <img class="img-responsive" src="assets/images/hardware/hardware-6.jpg">
                                        <div class="demo-gallery-poster">
                                            <img class="fa fa-eye faa-pulse  animated fa-3x blue-txt" src="">
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section id="awards" class="sec-testimonial bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Awards and recognition </h2>
                        <p>Acknowledged as the Best School Information Management Software in India, Any Time Student Information has bagged many awards and recognition across the world for its outstanding contribution in Education Quality and Excellence.  </p>
                    </div>
                </div>
                <div class="col-xs-12  wow  fadeInup animated" data-wow-duration="1.5s" data-wow-delay=".5s">
                    <div id="owl-testimonial" class="owl-carousel owl-carousel-slider">
                        <div class="wrapper-testimonial">
                            <div class="media">
                                <div class="media-body">
                                    <img src="assets/images/awards/paris-banner-award-1.jpg" class="img-responsive width-full" />
                                    <div class="text-center">
                                        <h6>Paris Star Quality Awards - 2017</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-testimonial">
                            <div class="media">
                                <div class="media-body">

                                    <img src="assets/images/awards/paris-award.jpg" class="img-responsive width-full" />
                                    <div class="text-center">
                                        <h6>Paris Star Quality Awards - 2017</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-testimonial">
                            <div class="media">
                                <div class="media-body">

                                    <img src="assets/images/awards/national-excellence-award.jpg" class="img-responsive width-full" />
                                    <div class="text-center">
                                        <h6>National Excellence Award - 2017</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-testimonial">
                            <div class="media">
                                <div class="media-body">

                                    <img src="assets/images/awards/award-certificate-2017.jpg" class="img-responsive width-full" />
                                    <div class="text-center">
                                        <h6>Right Choice Award - 2016 - 2017</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-testimonial">
                            <div class="media">
                                <div class="media-body">

                                    <img src="assets/images/awards/asia-brand-excellence.jpg" class="img-responsive width-full" />
                                    <div class="text-center">
                                        <h6>Asia Brand Excellence</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-testimonial">
                            <div class="media">
                                <div class="media-body">

                                    <img src="assets/images/awards/best-msme.jpg" class="img-responsive width-full" />
                                    <div class="text-center">
                                        <h6>Outstanding Contribution In Quality And Excellence</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="wrapper-testimonial">
                            <div class="media">
                                <div class="media-body">

                                    <img src="assets/images/awards/digital-learning.jpg" class="img-responsive width-full" />
                                    <div class="text-center">
                                        <h6>corporate world on a high with Educational Resource Planning</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="wrapper-testimonial">
                            <div class="media">
                                <div class="media-body">

                                    <img src="assets/images/awards/cio-review.jpg" class="img-responsive width-full" />
                                    <div class="text-center">
                                        <h6>Most Promising Education Software Solution Provider 2016 in India</h6>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="wrapper-testimonial">
                            <div class="media">
                                <div class="media-body">

                                    <img src="assets/images/awards/future-of-india.jpg" class="img-responsive width-full" />
                                    <div class="text-center">
                                        <h6>Future of India - Business Excellence in Innovation</h6>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<div class="testimonial-section pd-bottom-90">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                        <h2 class="title">Testimonials</h2>
                        <p>With our clients across the nation, ATSI has become a must-have Education ERP Software Solution to manage and streamline their student information. Check out directly from our clients what they think of our services.</p>
                    </div>
                </div>
                <div class="col-sm-10 col-sm-offset-1  wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s">
                    <div class="testimonial-slider owl-carousel owl-theme text-center">
                        <a routerLink="/testimonials" class="item">
                            <p>Parents think it is much easier , they get through the line their schedules are done, they get to speak with a counselor and at the end they've got it all done and they can come to school the first day and just start.</p>
                            <img src="assets/images/testimonial/author.png" alt="testimonial">
                            <h2 class="name">Chinmaya Swami</h2>
                        </a>
                        <a routerLink="/testimonials" class="item">
                            <p>Thank you so much for all you help and advice and training, I really appreciate it and it has made the job so much easier. I have had a huge learning curve this year and now things are running so well I can thank ATSI Software and XIPHIAS effort.</p>
                            <img src="assets/images/testimonial/author.png" alt="testimonial">
                            <h2 class="name">Guru Datta</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>
