<div class="home2-first-bg">
  <!-- banner -->
  <div id="home" class="banner banner-2">
      <div class="container">
          <div class="row">
              <div class="col-md-7 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
                  <h1 class="heading">ANY TIME STUDENT INFORMATION <br> A Product of XIPHIAS</h1>
                  <p class="sub-heading"> Access through a cloud powered system from any part of the world to automate your institute's administration needs. Supporting Mac OS, Android and Windows
                 </p>
                  <a class="btn btn-white-shadow" href="#">Get Started for Free</a>
              </div>
              <div class="col-md-5 hidden-sm hidden-xs banner-thumb-img">
                  <div class="banner-thumb wow fadeInDown animated" data-wow-duration="1.5s" data-wow-delay="0s">
                      <img src="assets/images/banner/6.png" alt="thumnail">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /.banner -->

  <!-- intro -->
  <div class="intro-section text-center">
      <div class="container">
          <div class="row row-eq-rs-height">
              <div class="col-md-4 col-sm-6">
                  <div class="intro-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s">
                      <img src="assets/images/intro/1.png" alt="icon">
                      <h3 class="title">ICT</h3>
                      <p>Bridge the digital divide amongst students of various socio, economic and other geographical barriers with ICT enabled ATSI.</p>
                      <a href="#">Read More</a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="intro-item wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0.5s">
                      <img src="assets/images/intro/2.png" alt="icon">
                      <h3 class="title">Cashless cademics</h3>
                      <p>To support the honorable prime minister drive all operations across university and colleges are enabled with ATSI software via the e-cash system </p>
                      <a href="#">read more</a>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                  <div class="intro-item mg-bt-0 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="1.0s">
                      <img src="assets/images/intro/2.png" alt="icon">
                      <h3 class="title">Paperless Academics</h3>
                      <p>To keep the environment green, ATSI goes paperless by using software system. To keep the environment green </p>
                      <a href="#">read more</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /.intro -->

  <section id="benefits">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padding-2rem">
                <div class="text-center">
                    <h3 class="intro-header-title">Salient Features</h3>
                </div>
                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s" >
                    <a href="#" class="card web">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="assets/images/benefits/always-safer.svg" class="width-44" />
                        </div>
                        <p>Highly Secure</p>
                    </a>

                </div>
                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s" >
                    <a href="#" class="card wallet">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="assets/images/benefits/email.svg" class="width-44" />
                        </div>
                        <p>Email & SMS Alerts</p>
                    </a>

                </div>

                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                    <a href="#" class="card education">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="assets/images/benefits/flexible.svg" class="width-44" />
                        </div>
                        <p>Highly Flexible</p>
                    </a>

                </div>

                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="1s">
                    <a href="#" class="card human-resources">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="assets/images/benefits/collection.svg" class="width-44" />
                        </div>
                        <p>Payroll and Fee Collection.</p>
                    </a>
                </div>



                <div class="clearfix"></div>

                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s" >
                    <a href="#" class="card  credentialing">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="assets/images/benefits/web.svg" class="width-44" />
                        </div>
                        <p>Web Based Application</p>
                    </a>

                </div>
                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s">
                    <a href="#" class="card smart-card">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="assets/images/benefits/smartcard.svg" class="width-44" />
                        </div>
                        <p>Smartcard Technology</p>
                    </a>

                </div>

                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s" >
                    <a href="#" class="card communication">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="assets/images/benefits/communication.svg" class="width-44" />
                        </div>
                        <p>Seamless Communication</p>
                    </a>

                </div>

                <div class="col-sm-6 col-md-3 wow animated fadeInUp" data-wow-duration="2.5s">
                    <a href="#" class="card report">
                        <div class="overlay"></div>
                        <div class="circle">
                            <img src="assets/images/benefits/report.svg" class="width-44" />
                        </div>
                        <p>Complete Report</p>
                    </a>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="sec-pad" id="screenshots">
  <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="section-title text-center wow fadeInUp  animated" data-wow-duration="1.5s" data-wow-delay="0s">
              <h2 class="title">About Our App</h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard main dummy text ever since the 1500s</p>
          </div>
      </div>
          <div class="col-xs-12" id="particles-js">
              <div class="col-md-6  wow  fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay=".5s" >
                  <div class="screenshot">
                      <div class="owl-carousel loop nplr screen-loop">
                          <div>
                              <img alt="" src="assets/images/screenshots/screenshot-img-1.jpg">
                          </div>
                          <div>
                              <img alt="" src="assets/images/screenshots/screenshot-img-2.jpg">
                          </div>
                          <div>
                              <img alt="" src="assets/images/screenshots/screenshot-img-3.jpg">
                          </div>
                          <div>
                              <img alt="" src="assets/images/screenshots/screenshot-img-1.jpg">
                          </div>
                          <div>
                              <img alt="" src="assets/images/screenshots/screenshot-img-2.jpg">
                          </div>
                          <div>
                              <img alt="" src="assets/images/screenshots/screenshot-img-3.jpg">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-6  wow  fadeInRight animated" data-wow-duration="1.5s" data-wow-delay=".5s">
                <div class="about-details">
                  <div class="section-title-3">
                      <h3 class="title">Take a Look Around our App</h3>
                  </div>
                  <p class="mg-bottom-45">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                  <a class="btn btn-white-shadow" href="#"><img src="assets/images/screenshots/playstore.png" alt="icon">Download Now</a>
                  <a class="btn btn-white-shadow" href="#"><img src="assets/images/screenshots/appstore.png" alt="icon">Download Now</a>
              </div>
                 
              </div>
          </div>

      </div>
  </div>
</section>
</div>  

<div class="bg-second-block">
  <!-- features-2 -->
  <div class="featured-section-2 pd-top-100">
      <div class="container">
          <div class="row">                
              <div class="col-md-8 col-md-offset-2">
                  <div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                      <h2 class="title">Special Feature</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard main dummy text ever since the 1500s</p>
                  </div>
              </div>
              <div class="featured-section-2-details">
                  <div class="col-lg-8 col-lg-offset-2  col-md-6 col-md-offset-3">
                      <div class="featured-bg wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s">
                          <img alt="images" src="assets/images/software/dashboard.png">
                      </div>
                  </div> 
                  <div class="col-md-4 col-sm-6 left-featured-details">
                      <div class="featured-details-one wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0s">
                          <div class="media">
                              <div class="media-body">
                                  <h3 class="title">Creative Design</h3>
                                  <p>Lorem ipsum dolor sit amet, scing elit, sed do eiusmod</p>           
                              </div>
                              <div class="media-left">
                                  <div class="thumb">
                                      <img src="assets/images/software/icon.png" alt="icon">
                                  </div>
                              </div>
                          </div>
                      </div> 
                      <div class="featured-details-two wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".5s">
                          <div class="media">
                              <div class="media-body">
                                  <h3 class="title">Creative Design</h3>
                                  <p>Lorem ipsum dolor sit amet scing elit</p>           
                              </div>
                              <div class="media-left">
                                  <div class="thumb">
                                      <img src="assets/images/software/icon.png" alt="icon">
                                  </div>
                              </div>
                          </div>
                      </div> 
                      <div class="featured-details-three wow animated fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1s">
                          <div class="media">
                              <div class="media-body">
                                  <h3 class="title">Creative Design</h3>
                                  <p>Lorem ipsum dolor sit amet scing elit sed do eiusmod</p>           
                              </div>
                              <div class="media-left">
                                  <div class="thumb">
                                      <img src="assets/images/software/icon.png" alt="icon">
                                  </div>
                              </div>
                          </div>
                      </div> 
                  </div>
                  <div class="col-md-4 col-sm-6 right-featured-details">
                      <div class="featured-details-one wow animated fadeInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                          <div class="media">
                              <div class="media-left">
                                  <div class="thumb">
                                      <img src="assets/images/software/icon.png" alt="icon">
                                  </div>
                              </div>
                              <div class="media-body">
                                  <h3 class="title">Creative Design</h3>
                                  <p>Lorem ipsum dolor sit amet, scing elit, sed do eiusmod</p>           
                              </div>
                          </div>
                      </div> 
                      <div class="featured-details-two wow animated fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.5s">
                          <div class="media">
                              <div class="media-left">
                                  <div class="thumb">
                                      <img src="assets/images/software/icon.png" alt="icon">
                                  </div>
                              </div>
                              <div class="media-body">
                                  <h3 class="title">Creative Design</h3>
                                  <p>Lorem ipsum dolor sit amet scing elit</p>           
                              </div>
                          </div>
                      </div> 
                      <div class="featured-details-three wow animated fadeInRight" data-wow-duration="1.5s" data-wow-delay="1s">
                          <div class="media">
                              <div class="media-left">
                                  <div class="thumb">
                                      <img src="assets/images/software/icon.png" alt="icon">
                                  </div>
                              </div>
                              <div class="media-body">
                                  <h3 class="title">Creative Design</h3>
                                  <p>Lorem ipsum dolor sit amet scing elit sed do eiusmod</p>           
                              </div>
                          </div>
                      </div> 
                  </div>
              </div>  
          </div>
      </div>
  </div>
  <!-- /.features-2-->
  <section id="usp-hardware">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
              <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                    <h2 class="title">Our USP </h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard main dummy text ever since the 1500s</p>
                </div>
            </div>
                <div class="cont">
                    <div class="demo-gallery">
                        <ul id="lightgallery">
                            <li class=" wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/digital-podium.jpg 375, assets/images/hardware/digital-podium.jpg 480, assets/images/hardware/digital-podium.jpg 800" data-src="assets/images/hardware/digital-podium.jpg"
                                data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                <a href="">
                                    <img class="img-responsive" src="assets/images/hardware/digital-podium.jpg">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                            <li class=" wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/digital-signage.jpg 375, assets/images/hardware/digital-signage.jpg 480, assets/images/hardware/digital-signage.jpg 800" data-src="assets/images/hardware/digital-signage.jpg"
                                data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                <a href="">
                                    <img class="img-responsive" src="assets/images/hardware/digital-signage.jpg">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                            <li class=" wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/kiosk.jpg 375, assets/images/hardware/kiosk.jpg 480, assets/images/hardware/kiosk.jpg 800" data-src="assets/images/hardware/kiosk.jpg"
                                data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                <a href="">
                                    <img class="img-responsive" src="assets/images/hardware/kiosk.jpg">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                            <li class=" wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/hardware-8.jpg 375, assets/images/hardware/hardware-8.jpg 480, assets/images/hardware/hardware-8.jpg 800" data-src="assets/images/hardware/hardware-8.jpg"
                                data-sub-html="<h4>Coniston Calmness</h4><p>Beautiful morning</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                <a href="">
                                    <img class="img-responsive" src="assets/images/hardware/hardware-8.jpg">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                            <li class=" wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/hardware-4.jpg 375, assets/images/hardware/hardware-4.jpg 480, assets/images/hardware/hardware-4.jpg 800" data-src="assets/images/hardware/hardware-4.jpg"
                                data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                <a href="">
                                    <img class="img-responsive" src="assets/images/hardware/hardware-4.jpg">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                            <li class=" wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/hardware-5.jpg 375, assets/images/hardware/hardware-5.jpg 480, assets/images/hardware/hardware-5.jpg 800" data-src="assets/images/hardware/hardware-5.jpg"
                                data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                <a href="">
                                    <img class="img-responsive" src="assets/images/hardware/hardware-5.jpg">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                            <li class=" wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/hardware-6.jpg 375, assets/images/hardware/hardware-6.jpg 480, assets/images/hardware/hardware-6.jpg 800" data-src="assets/images/hardware/hardware-6.jpg"
                                data-sub-html="<h4>Sunset Serenity</h4><p>A gorgeous Sunset tonight captured at Coniston Water....</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                <a href="">
                                    <img class="img-responsive" src="assets/images/hardware/hardware-6.jpg">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                            <li class=" wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s" data-responsive="assets/images/hardware/hardware-7.jpg 375, assets/images/hardware/hardware-7.jpg 480, assets/images/hardware/hardware-7.jpg 800" data-src="assets/images/hardware/hardware-7.jpg"
                                data-sub-html="<h4>Coniston Calmness</h4><p>Beautiful morning</p>" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                                <a href="">
                                    <img class="img-responsive" src="assets/images/hardware/hardware-7.jpg">
                                    <div class="demo-gallery-poster">
                                        <img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="awards" class="sec-testimonial bg-white">
    <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                  <h2 class="title">Awards and recognition </h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard main dummy text ever since the 1500s</p>
              </div>
          </div>
          <div class="col-xs-12  wow  fadeInup animated" data-wow-duration="1.5s" data-wow-delay=".5s">
          <div id="owl-testimonial" class="owl-carousel owl-carousel-slider">
              <div class="wrapper-testimonial">
                  <div class="media">
                      <div class="media-body">
                          <img src="assets/images/awards/paris-banner-award-1.jpg" class="img-responsive width-full" />
                          <div class="text-center">
                              <h6>Paris Star Quality Awards - 2017</h6>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="wrapper-testimonial">
                  <div class="media">
                      <div class="media-body">

                          <img src="assets/images/awards/paris-award.jpg" class="img-responsive width-full" />
                          <div class="text-center">
                              <h6>Paris Star Quality Awards - 2017</h6>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="wrapper-testimonial">
                  <div class="media">
                      <div class="media-body">

                          <img src="assets/images/awards/national-excellence-award.jpg" class="img-responsive width-full" />
                          <div class="text-center">
                              <h6>National Excellence Award - 2017</h6>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="wrapper-testimonial">
                  <div class="media">
                      <div class="media-body">

                          <img src="assets/images/awards/award-certificate-2017.jpg" class="img-responsive width-full" />
                          <div class="text-center">
                              <h6>Right Choice Award - 2016 - 2017</h6>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="wrapper-testimonial">
                  <div class="media">
                      <div class="media-body">

                          <img src="assets/images/awards/asia-brand-excellence.jpg" class="img-responsive width-full" />
                          <div class="text-center">
                              <h6>Asia Brand Excellence</h6>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="wrapper-testimonial">
                  <div class="media">
                      <div class="media-body">

                          <img src="assets/images/awards/best-msme.jpg" class="img-responsive width-full" />
                          <div class="text-center">
                              <h6>Outstanding Contribution In Quality And Excellence</h6>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="wrapper-testimonial">
                  <div class="media">
                      <div class="media-body">

                          <img src="assets/images/awards/digital-learning.jpg" class="img-responsive width-full" />
                          <div class="text-center">
                              <h6>corporate world on a high with Educational Resource Planning</h6>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="wrapper-testimonial">
                  <div class="media">
                      <div class="media-body">

                          <img src="assets/images/awards/cio-review.jpg" class="img-responsive width-full" />
                          <div class="text-center">
                              <h6>Most Promising Education Software Solution Provider 2016 in India</h6>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="wrapper-testimonial">
                  <div class="media">
                      <div class="media-body">

                          <img src="assets/images/awards/future-of-india.jpg" class="img-responsive width-full" />
                          <div class="text-center">
                              <h6>Future of India - Business Excellence in Innovation</h6>
                          </div>
                      </div>
                  </div>
              </div>


          </div>
        </div>
      </div>
  </div>
</section>

 <!-- fun-factor -->
 <div class="fact-section bg-fact default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="fact-details text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay=".5s">
                    <i class="fa fa-heart"></i>
                    <p class="fact-info">APP DOWNLOADS</p>
                    <p class="fact-count">2400</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact-details text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">
                    <i class="fa fa-star"></i>
                    <p class="fact-info">HAPPY CLIENTS</p>
                    <p class="fact-count">1900</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact-details text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.5s">
                    <i class="fa fa-heartbeat "></i>
                    <p class="fact-info">ACTIVE ACOUNTS</p>
                    <p class="fact-count">1400</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="fact-details text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="2.0s">
                    <i class="fa fa-paw"></i>
                    <p class="fact-info">TOTAL APP RATES</p>
                    <p class="fact-count">3400</p>
                </div>
            </div>                 
        </div>
    </div>
</div>
<!-- /.fun-factor -->

<!-- /.testimonial -->
</div>
<div class="home2-second-bg">
<div class="testimonial-section pd-bottom-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title text-center wow animated fadeInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                    <h2 class="title">Testimonials</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard main dummy text ever since the 1500s</p>
                </div>
            </div>
            <div class="col-sm-10 col-sm-offset-1  wow  fadeInUp animated" data-wow-duration="1.5s" data-wow-delay=".5s">
                <div class="testimonial-slider owl-carousel owl-theme text-center">
                    <div class="item">
                        <p>Lorem ipsum dolor sit amet, consectetur the adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <img src="assets/images/testimonial/author.png" alt="testimonial">
                        <h2 class="name">Stuart Latham</h2>
                        <span class="designation">CEO at Craft</span>
                    </div>
                    <div class="item">
                        <p>Lorem ipsum dolor sit amet, consectetur the adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <img src="assets/images/testimonial/author.png" alt="testimonial">
                        <h2 class="name">Stuart Latham</h2>
                        <span class="designation">CEO at Craft</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-sm-6 col-md-3">
                    <img src="assets/images/atsi_logo.png" class="footer-logo" />
                    <div class="text-justify">
                        <p class="footer-intro">XIPHIAS Software Technologies (p) Ltd is one of the leading technology providers in India since 2002, offering a vast portfolio of products and services with innovative offerings in the hardware and software division. We are India's No 1 interactive kiosk application providers, offering our clients a sophisticated range of customized kiosks within industry standards and specifications.</p>
                    </div>
                    <div class="text-left">
                        <a href="#" class="text-default">Read More</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 footer-align">
                    <div class="col-xs-12">
                        <h4 class="footer-title">Recent Post</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/footer/avatar.jpg" class="media-object img-circle" style="width:60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe</h4>
                                <p>Lorem ipsum...</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/footer/avatar.jpg" class="media-object img-circle" style="width:60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe</h4>
                                <p>Lorem ipsum...</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <img src="assets/images/footer/avatar.jpg" class="media-object img-circle" style="width:60px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">John Doe</h4>
                                <p>Lorem ipsum...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="col-xs-12 footer-align">
                        <h4 class="footer-title">Email Us</h4>
                    </div>
                    <div class="col-xs-12">
                        <form class="">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="email" class="form-control text-box-align" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="password" class="form-control text-box-align" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>comments</label>
                                <textarea type="text" class="form-control text-box-align" placeholder="comments" rows="2"></textarea>
                            </div>
                            <div class="text-left">
                                <button type="submit" class="btn btn-default btn-block sub-btn ">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="col-xs-12 footer-align">
                        <h4 class="footer-title">Useful Links</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="">
                            <ul class="list list-group">
                                <li class="list-group-item"><a href="#">Library Management System</a></li>
                                <li class="list-group-item"><a href="#">ERP Softwares</a></li>
                                <li class="list-group-item"><a href="#">ERP Software Solution</a></li>
                                <li class="list-group-item"><a href="#">Attendance Management System</a></li>
                                <li class="list-group-item"><a href="#">Course Management System</a></li>
                                <li class="list-group-item"><a href="#">Employee Payroll System</a></li>
                                <li class="list-group-item"><a href="#">Payroll management Software</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-md-3 footer-align ">
                    <div class="col-xs-12 padding-0">
                        <h4 class="footer-title">Contact Us</h4>
                        <p class="footer-intro">
                            XIPHIAS Software Technologies Pvt Ltd,<br />
                            8th Floor, B.M.T.C / T.T.M.C Building,<br />
                            6th Block, Koramangala,<br />
                            Bangalore - 560095.<br />
                            +91-80-25530350,+91-80-41726017<br />
                            info@xiphiastec.com<br />
                            www.atsi.in<br />
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 footer-align">
                    <div class="col-xs-12">
                        <h4 class="footer-title">Newsletter</h4>
                    </div>
                    <div class="col-xs-12">
                        <p>Subscribe our newsletter</p>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control text-box-align" placeholder="Enter Your Email Address">
                            </div>
                            <div class="text-left">
                                <button type="submit" class="btn btn-default btn-block sub-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="col-xs-12 footer-align">
                        <h4 class="footer-title">Socila Links</h4>
                    </div>
                    <div class="col-xs-12 padding-0">
                        <div class="col-md-3">
                            <img src="assets/images/social-icon/fb.png" />
                        </div>
                        <div class="col-md-3">
                            <img src="assets/images/social-icon/gp.PNG" />
                        </div>
                        <div class="col-md-3">
                            <img src="assets/images/social-icon/linked-in.PNG" />
                        </div>
                        <div class="col-md-3">
                            <img src="assets/images/social-icon/tw.PNG" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="col-xs-12 footer-align">
                        <h4 class="footer-title">Useful Links</h4>
                    </div>
                    <div class="col-xs-12">
                        <div class="">
                            <ul class="list list-group">
                                <li class="list-group-item"><a href="#"> School Management System India</a></li>
                                <li class="list-group-item"><a href="#">Time Table Management System</a></li>
                                <li class="list-group-item"><a href="#">Class Room Management Software</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    
    <section id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <a href="#">Terms and Conditions</a>&nbsp; |  &nbsp;
                        <a href="#">Return Policy</a>&nbsp; | &nbsp;
                        <a href="#">Privacy Policy</a>&nbsp; | &nbsp;
                        <a href="#">Disclaimer</a>&nbsp; | &nbsp;
                        <a href="#" title="Kiosk Solution Providers">Sitemap</a>
                    </div>
                    <div class="pull-right">
                        <div class="copyright"> &copy; 2017-2018 <a href="https://www.atsi.in/" title="School Software">A.T.S.I</a> Powered by <a href="https://www.xiphiastec.com/" title="Kiosk Solution Providers">::XIPHIAS::</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>